{
    "ProfilerProfile": {
        "description": "Policy for Android-Sony-Ericsson-Phone-Xperia",
        "name": "Android-Sony-Ericsson-Phone-Xperia",
        "parentId": "08d53d20-8c00-11e6-996c-525400b48521"
    }
}