{
    "ProfilerProfile": {
        "description": "Policy for Android-Samsung-Galaxy-Note-2-N7105",
        "name": "Android-Samsung-Galaxy-Note-2-N7105",
        "parentId": "03aa9b60-8c00-11e6-996c-525400b48521"
    }
}