{
    "ProfilerProfile": {
        "description": "Policy for Android-Samsung-Galaxy-Phone-S5-G900A",
        "name": "Android-Samsung-Galaxy-Phone-S5-G900A",
        "parentId": "07206130-8c00-11e6-996c-525400b48521"
    }
}