{
    "ProfilerProfile": {
        "description": "Policy for Android-Samsung-Galaxy-Note-4",
        "name": "Android-Samsung-Galaxy-Note-4",
        "parentId": "03788ee0-8c00-11e6-996c-525400b48521"
    }
}