{
    "ProfilerProfile": {
        "description": "Policy for Android-Samsung-Galaxy-Phone-S2-G900V",
        "name": "Android-Samsung-Galaxy-Phone-S2-I9100T",
        "parentId": "05a978a0-8c00-11e6-996c-525400b48521"
    }
}