{
    "ProfilerProfile": {
        "description": "Policy for Android-Samsung-Galaxy-Phone-S3-I9300",
        "name": "Android-Samsung-Galaxy-Phone-S3-I9300",
        "parentId": "05eff780-8c00-11e6-996c-525400b48521"
    }
}