{
    "ProfilerProfile": {
        "description": "Policy for Android-Samsung-Galaxy-Tablet-4-T337A",
        "name": "Android-Samsung-Galaxy-Tablet-4-T337A",
        "parentId": "083af8f0-8c00-11e6-996c-525400b48521"
    }
}