{
    "ProfilerProfile": {
        "description": "Policy for Android-Samsung-Galaxy-Tablet-3-T310",
        "name": "Android-Samsung-Galaxy-Tablet-3-T310",
        "parentId": "07f93500-8c00-11e6-996c-525400b48521"
    }
}