{
    "ProfilerProfile": {
        "description": "Policy for Android-Samsung-Galaxy-Note-4-N910",
        "name": "Android-Samsung-Galaxy-Note-4-N910",
        "parentId": "04affd70-8c00-11e6-996c-525400b48521"
    }
}