{
    "ProfilerProfile": {
        "description": "Policy for Android-Samsung-Galaxy-Phone-S4-I9505",
        "name": "Android-Samsung-Galaxy-Phone-S4-I9505",
        "parentId": "06895150-8c00-11e6-996c-525400b48521"
    }
}