{
    "ProfilerProfile": {
        "description": "Policy for Cisco Lightweight 1130 Series Access Point",
        "name": "Cisco-AIR-LAP-1130",
        "parentId": "0ff2fc50-8c00-11e6-996c-525400b48521"
    }
}