{
    "ProfilerProfile": {
        "description": "Policy for Cisco Meraki Security Appliance",
        "name": "Cisco-Meraki-Security-Appliance",
        "parentId": "1e2ca5f0-8c00-11e6-996c-525400b48521"
    }
}