{
    "ProfilerProfile": {
        "description": "Policy for Cisco Lightweight 1240 Series Access Point",
        "name": "Cisco-AIR-LAP-1240",
        "parentId": "10edb000-8c00-11e6-996c-525400b48521"
    }
}