{
    "ProfilerProfile": {
        "description": "Policy for Cisco Wireless Lan Controller 5500 Series",
        "name": "Cisco-WLC-5500-Series",
        "parentId": "1fd8a840-8c00-11e6-996c-525400b48521"
    }
}