{
    "ProfilerProfile": {
        "description": "policy for Cisco-Wireless-AP-CW9166D1",
        "name": "Cisco-AP-Catalyst-CW9166D1",
        "parentId": "0f3d8f00-8c00-11e6-996c-525400b48521"
    }
}