{
    "ProfilerProfile": {
        "description": "Policy for Cisco Meraki Access Point",
        "name": "Cisco-Meraki-Access-Point",
        "parentId": "1e2ca5f0-8c00-11e6-996c-525400b48521"
    }
}