{
    "ProfilerProfile": {
        "description": "Policy for Cisco-Wireless-AP-CW9166I",
        "name": "Cisco-AP-Catalyst-CW9166I",
        "parentId": "0f3d8f00-8c00-11e6-996c-525400b48521"
    }
}