{
    "ProfilerProfile": {
        "description": "Policy for Control4-AMX-Audio-Visual-Device",
        "name": "Control4-AMX-Audio-Visual-Device",
        "parentId": "63180e20-79ad-11f1-ad2d-8a4e8c5a954a"
    }
}