{
    "ProfilerProfile": {
        "description": "Profiler Policy for Nokia-Windows-Phone-Lumia",
        "name": "Nokia-Windows-Phone-Lumia",
        "parentId": "2fd42620-8c00-11e6-996c-525400b48521"
    }
}