{
    "ProfilerProfile": {
        "description": "Policy for Nortel IP Phone 2000 Series",
        "name": "Nortel-IP-Phone-2000-Series",
        "parentId": "303f6b10-8c00-11e6-996c-525400b48521"
    }
}