{
    "ProfilerProfile": {
        "description": "Policy for Macintosh OS X 10.8 (Mountain Lion) workstation",
        "name": "OS_X_MountainLion-Workstation",
        "parentId": "4057e6d0-8c00-11e6-996c-525400b48521"
    }
}