{
    "ProfilerProfile": {
        "description": "Policy for Philips Intellivue Medical devices",
        "name": "Philips-Intellivue",
        "parentId": "30e1c590-8c00-11e6-996c-525400b48521"
    }
}