{
    "ProfilerProfile": {
        "description": "Policy for RICOH-Aficio-MP-C4501 Printer",
        "name": "RICOH-Aficio-MP-C4501",
        "parentId": "317ea1d0-8c00-11e6-996c-525400b48521"
    }
}