{
    "ProfilerProfile": {
        "description": "Policy for Samsung-CLP-310-Series Printer",
        "name": "Samsung-CLP-310-Series",
        "parentId": "375e14a0-8c00-11e6-996c-525400b48521"
    }
}