{
    "ProfilerProfile": {
        "description": "Policy for Silex-Intermec-EasyLAN-10i2-Device",
        "name": "Silex-Intermec-EasyLAN-10i2-Device",
        "parentId": "258da920-79ad-11f1-ad2d-8a4e8c5a954a"
    }
}