{
    "ProfilerProfile": {
        "description": "Policy for Microsoft Windows 10 workstation",
        "name": "Windows10-Workstation",
        "parentId": "41fc9620-8c00-11e6-996c-525400b48521"
    }
}