{
    "ProfilerProfile": {
        "description": "Policy for Xerox-WorkCentre-Pro-133 MFP",
        "name": "Xerox-WorkCentre-Pro-133",
        "parentId": "cc348fb0-19f6-11ee-88d5-0050568fa0ed"
    }
}