{
    "ProfilerProfile": {
        "description": "Policy for Xerox-Printer-Phaser3250 MFP",
        "name": "Xerox-Printer-Phaser3250",
        "parentId": "70888b30-19f6-11ee-88d5-0050568fa0ed"
    }
}