{
    "ProfilerProfile": {
        "description": "policy for Xerox-EC8036-Series-Color-MFP  Xerox EC8036 Color MFP",
        "name": "Xerox-EC8036-Color-MFP",
        "parentId": "da3d0ae0-79ae-11f1-ad2d-8a4e8c5a954a"
    }
}