{
    "ProfilerProfile": {
        "description": "Policy for Xerox-VersaLink-C620-Color-Printer",
        "name": "Xerox-VersaLink-C620-Color-Printer",
        "parentId": "bed344b0-19f6-11ee-88d5-0050568fa0ed"
    }
}