{
    "ProfilerProfile": {
        "description": "Policy for Xerox-DocuColor-8080-Digital-Press MFP",
        "name": "Xerox-DocuColor-8080-Digital-Press",
        "parentId": "61fc06a0-19f6-11ee-88d5-0050568fa0ed"
    }
}