{
    "AuthorizationProfile": {
        "accessType": "ACCESS_ACCEPT",
        "agentlessPosture": false,
        "authzProfileType": "SWITCH",
        "description": "Default Profile used to redirect users to the CWA portal.",
        "easywiredSessionCandidate": false,
        "name": "Cisco_WebAuth",
        "profileName": "Cisco",
        "serviceTemplate": false,
        "trackMovement": false,
        "webRedirection": {
            "WebRedirectionType": "CentralizedWebAuth",
            "acl": "ACL_WEBAUTH_REDIRECT",
            "displayCertificatesRenewalMessages": false,
            "portalName": "Self-Registered Guest Portal (default)"
        }
    }
}