{
    "AuthorizationProfile": {
        "accessType": "ACCESS_ACCEPT",
        "agentlessPosture": false,
        "authzProfileType": "SWITCH",
        "daclName": "PERMIT_ALL_IPV4_TRAFFIC",
        "description": "Default profile used for Cisco Phones.",
        "easywiredSessionCandidate": false,
        "name": "Cisco_IP_Phones",
        "profileName": "Cisco",
        "serviceTemplate": false,
        "trackMovement": false,
        "voiceDomainPermission": true
    }
}