{
    "AuthorizationProfile": {
        "accessType": "ACCESS_REJECT",
        "agentlessPosture": false,
        "authzProfileType": "SWITCH",
        "description": "Default Profile with access type as Access-Reject",
        "easywiredSessionCandidate": false,
        "name": "DenyAccess",
        "profileName": "Any",
        "serviceTemplate": false,
        "trackMovement": false
    }
}