{
    "AuthorizationProfile": {
        "accessType": "ACCESS_ACCEPT",
        "agentlessPosture": false,
        "authzProfileType": "SWITCH",
        "description": "IoT segment, restricted",
        "easywiredSessionCandidate": false,
        "name": "Lab_IoT_Restricted",
        "profileName": "Cisco",
        "serviceTemplate": false,
        "trackMovement": false
    }
}