{
    "description": "5039",
    "name": "3com-amp3",
    "networkIdentities": [
        {
            "ports": "629",
            "protocol": "TCP"
        },
        {
            "ports": "629",
            "protocol": "UDP"
        }
    ]
}