{
    "description": "5040",
    "name": "3com-tsmux",
    "networkIdentities": [
        {
            "ports": "106",
            "protocol": "TCP"
        },
        {
            "ports": "106",
            "protocol": "UDP"
        }
    ]
}