{
    "description": "5045",
    "name": "9pfs",
    "networkIdentities": [
        {
            "ports": "564",
            "protocol": "TCP"
        },
        {
            "ports": "564",
            "protocol": "UDP"
        }
    ]
}