{
    "description": "5055",
    "name": "accessnetwork",
    "networkIdentities": [
        {
            "ports": "699",
            "protocol": "TCP"
        },
        {
            "ports": "699",
            "protocol": "UDP"
        }
    ]
}