{
    "description": "5057",
    "name": "acp",
    "networkIdentities": [
        {
            "ports": "599",
            "protocol": "TCP"
        },
        {
            "ports": "599",
            "protocol": "UDP"
        }
    ]
}