{
    "description": "5058",
    "name": "acr-nema",
    "networkIdentities": [
        {
            "ports": "104",
            "protocol": "TCP"
        },
        {
            "ports": "104",
            "protocol": "UDP"
        }
    ]
}