{
    "description": "5074",
    "name": "afpovertcp",
    "networkIdentities": [
        {
            "ports": "548",
            "protocol": "UDP"
        },
        {
            "ports": "548",
            "protocol": "TCP"
        }
    ]
}