{
    "description": "5083",
    "name": "alpes",
    "networkIdentities": [
        {
            "ports": "463",
            "protocol": "UDP"
        },
        {
            "ports": "463",
            "protocol": "TCP"
        }
    ]
}