{
    "description": "5084",
    "name": "amanda",
    "networkIdentities": [
        {
            "ports": "10080",
            "protocol": "TCP"
        },
        {
            "ports": "10080",
            "protocol": "UDP"
        }
    ]
}