{
    "description": "5093",
    "name": "aminet",
    "networkIdentities": [
        {
            "ports": "2639",
            "protocol": "UDP"
        },
        {
            "ports": "2639",
            "protocol": "TCP"
        }
    ]
}