{
    "description": "5099",
    "name": "ansanotify",
    "networkIdentities": [
        {
            "ports": "116",
            "protocol": "TCP"
        },
        {
            "ports": "116",
            "protocol": "UDP"
        }
    ]
}