{
    "description": "5103",
    "name": "aodv",
    "networkIdentities": [
        {
            "ports": "654",
            "protocol": "TCP"
        },
        {
            "ports": "654",
            "protocol": "UDP"
        }
    ]
}