{
    "description": "5110",
    "name": "apertus-ldp",
    "networkIdentities": [
        {
            "ports": "539",
            "protocol": "TCP"
        },
        {
            "ports": "539",
            "protocol": "UDP"
        }
    ]
}