{
    "description": "5118",
    "name": "apple-remote-desktop",
    "networkIdentities": [
        {
            "ports": "3283",
            "protocol": "UDP"
        },
        {
            "ports": "3283",
            "protocol": "TCP"
        }
    ]
}