{
    "description": "5123",
    "name": "appleqtc",
    "networkIdentities": [
        {
            "ports": "458",
            "protocol": "TCP"
        },
        {
            "ports": "458",
            "protocol": "UDP"
        }
    ]
}