{
    "description": "5124",
    "name": "appleqtcsrvr",
    "networkIdentities": [
        {
            "ports": "545",
            "protocol": "TCP"
        },
        {
            "ports": "545",
            "protocol": "UDP"
        }
    ]
}