{
    "description": "5130",
    "name": "ariel2",
    "networkIdentities": [
        {
            "ports": "421",
            "protocol": "TCP"
        },
        {
            "ports": "421",
            "protocol": "UDP"
        }
    ]
}