{
    "description": "5135",
    "name": "as-servermap",
    "networkIdentities": [
        {
            "ports": "449",
            "protocol": "TCP"
        },
        {
            "ports": "449",
            "protocol": "UDP"
        }
    ]
}