{
    "description": "5139",
    "name": "asipregistry",
    "networkIdentities": [
        {
            "ports": "687",
            "protocol": "TCP"
        },
        {
            "ports": "687",
            "protocol": "UDP"
        }
    ]
}