{
    "description": "5145",
    "name": "at-8",
    "networkIdentities": [
        {
            "ports": "208",
            "protocol": "UDP"
        },
        {
            "ports": "208",
            "protocol": "TCP"
        }
    ]
}