{
    "description": "5146",
    "name": "at-echo",
    "networkIdentities": [
        {
            "ports": "204",
            "protocol": "TCP"
        },
        {
            "ports": "204",
            "protocol": "UDP"
        }
    ]
}