{
    "description": "5148",
    "name": "at-rtmp",
    "networkIdentities": [
        {
            "ports": "201",
            "protocol": "TCP"
        },
        {
            "ports": "201",
            "protocol": "UDP"
        }
    ]
}