{
    "description": "5149",
    "name": "at-zis",
    "networkIdentities": [
        {
            "ports": "206",
            "protocol": "TCP"
        },
        {
            "ports": "206",
            "protocol": "UDP"
        }
    ]
}