{
    "description": "5156",
    "name": "auditd",
    "networkIdentities": [
        {
            "ports": "48",
            "protocol": "UDP"
        },
        {
            "ports": "48",
            "protocol": "TCP"
        }
    ]
}