{
    "description": "5157",
    "name": "aurora-cmgr",
    "networkIdentities": [
        {
            "ports": "364",
            "protocol": "TCP"
        },
        {
            "ports": "364",
            "protocol": "UDP"
        }
    ]
}