{
    "description": "5159",
    "name": "auth",
    "networkIdentities": [
        {
            "ports": "113",
            "protocol": "TCP"
        },
        {
            "ports": "113",
            "protocol": "UDP"
        }
    ]
}