{
    "description": "5162",
    "name": "avian",
    "networkIdentities": [
        {
            "ports": "486",
            "protocol": "UDP"
        },
        {
            "ports": "486",
            "protocol": "TCP"
        }
    ]
}