{
    "description": "5163",
    "name": "avocent",
    "networkIdentities": [
        {
            "ports": "3211,3502,3871",
            "protocol": "TCP"
        },
        {
            "ports": "3211,3502,3871",
            "protocol": "UDP"
        }
    ]
}