{
    "description": "5180",
    "name": "bb",
    "networkIdentities": [
        {
            "ports": "1984",
            "protocol": "UDP"
        },
        {
            "ports": "1984",
            "protocol": "TCP"
        }
    ]
}