{
    "description": "5184",
    "name": "bftp",
    "networkIdentities": [
        {
            "ports": "152",
            "protocol": "TCP"
        },
        {
            "ports": "152",
            "protocol": "UDP"
        }
    ]
}