{
    "description": "5186",
    "name": "bgp",
    "networkIdentities": [
        {
            "ports": "179",
            "protocol": "TCP"
        },
        {
            "ports": "179",
            "protocol": "UDP"
        }
    ]
}