{
    "description": "5187",
    "name": "bgs-nsi",
    "networkIdentities": [
        {
            "ports": "482",
            "protocol": "UDP"
        },
        {
            "ports": "482",
            "protocol": "TCP"
        }
    ]
}