{
    "description": "5199",
    "name": "bl-idm",
    "networkIdentities": [
        {
            "ports": "142",
            "protocol": "TCP"
        },
        {
            "ports": "142",
            "protocol": "UDP"
        }
    ]
}