{
    "description": "5204",
    "name": "blizwow",
    "networkIdentities": [
        {
            "ports": "3724",
            "protocol": "TCP"
        },
        {
            "ports": "3724",
            "protocol": "UDP"
        }
    ]
}