{
    "description": "5209",
    "name": "bmpp",
    "networkIdentities": [
        {
            "ports": "632",
            "protocol": "TCP"
        },
        {
            "ports": "632",
            "protocol": "UDP"
        }
    ]
}