{
    "description": "5211",
    "name": "bnet",
    "networkIdentities": [
        {
            "ports": "415",
            "protocol": "TCP"
        },
        {
            "ports": "415",
            "protocol": "UDP"
        }
    ]
}