{
    "description": "5212",
    "name": "borland-dsj",
    "networkIdentities": [
        {
            "ports": "707",
            "protocol": "UDP"
        },
        {
            "ports": "707",
            "protocol": "TCP"
        }
    ]
}