{
    "description": "5221",
    "name": "cadlock",
    "networkIdentities": [
        {
            "ports": "770",
            "protocol": "UDP"
        },
        {
            "ports": "770",
            "protocol": "TCP"
        }
    ]
}