{
    "description": "5232",
    "name": "cdc",
    "networkIdentities": [
        {
            "ports": "223",
            "protocol": "TCP"
        },
        {
            "ports": "223",
            "protocol": "UDP"
        }
    ]
}