{
    "description": "5234",
    "name": "cfdptkt",
    "networkIdentities": [
        {
            "ports": "120",
            "protocol": "TCP"
        },
        {
            "ports": "120",
            "protocol": "UDP"
        }
    ]
}