{
    "description": "5254",
    "name": "cisco-fna",
    "networkIdentities": [
        {
            "ports": "130",
            "protocol": "UDP"
        },
        {
            "ports": "130",
            "protocol": "TCP"
        }
    ]
}