{
    "description": "5282",
    "name": "cisco-sys",
    "networkIdentities": [
        {
            "ports": "132",
            "protocol": "TCP"
        },
        {
            "ports": "132",
            "protocol": "UDP"
        }
    ]
}