{
    "description": "5283",
    "name": "cisco-tdp",
    "networkIdentities": [
        {
            "ports": "711",
            "protocol": "TCP"
        },
        {
            "ports": "711",
            "protocol": "UDP"
        }
    ]
}