{
    "description": "5284",
    "name": "cisco-tna",
    "networkIdentities": [
        {
            "ports": "131",
            "protocol": "TCP"
        },
        {
            "ports": "131",
            "protocol": "UDP"
        }
    ]
}