{
    "description": "5293",
    "name": "clearcase",
    "networkIdentities": [
        {
            "ports": "371",
            "protocol": "UDP"
        },
        {
            "ports": "371",
            "protocol": "TCP"
        }
    ]
}