{
    "description": "5295",
    "name": "cloanto-net-1",
    "networkIdentities": [
        {
            "ports": "356",
            "protocol": "TCP"
        },
        {
            "ports": "356",
            "protocol": "UDP"
        }
    ]
}