{
    "description": "5296",
    "name": "cmip-agent",
    "networkIdentities": [
        {
            "ports": "164",
            "protocol": "TCP"
        },
        {
            "ports": "164",
            "protocol": "UDP"
        }
    ]
}