{
    "description": "5302",
    "name": "coauthor",
    "networkIdentities": [
        {
            "ports": "1529",
            "protocol": "UDP"
        },
        {
            "ports": "1529",
            "protocol": "TCP"
        }
    ]
}