{
    "description": "5304",
    "name": "collaborator",
    "networkIdentities": [
        {
            "ports": "622",
            "protocol": "UDP"
        },
        {
            "ports": "622",
            "protocol": "TCP"
        }
    ]
}