{
    "description": "5307",
    "name": "compressnet",
    "networkIdentities": [
        {
            "ports": "2",
            "protocol": "TCP"
        },
        {
            "ports": "2",
            "protocol": "UDP"
        }
    ]
}