{
    "description": "5308",
    "name": "comscm",
    "networkIdentities": [
        {
            "ports": "437",
            "protocol": "TCP"
        },
        {
            "ports": "437",
            "protocol": "UDP"
        }
    ]
}