{
    "description": "5312",
    "name": "conference",
    "networkIdentities": [
        {
            "ports": "531",
            "protocol": "TCP"
        },
        {
            "ports": "531",
            "protocol": "UDP"
        }
    ]
}