{
    "description": "5325",
    "name": "courier",
    "networkIdentities": [
        {
            "ports": "530",
            "protocol": "TCP"
        },
        {
            "ports": "530",
            "protocol": "UDP"
        }
    ]
}