{
    "description": "5327",
    "name": "covia",
    "networkIdentities": [
        {
            "ports": "64",
            "protocol": "UDP"
        },
        {
            "ports": "64",
            "protocol": "TCP"
        }
    ]
}