{
    "description": "5330",
    "name": "cpq-wbem",
    "networkIdentities": [
        {
            "ports": "2301",
            "protocol": "UDP"
        },
        {
            "ports": "2301",
            "protocol": "TCP"
        }
    ]
}