{
    "description": "5333",
    "name": "creativepartnr",
    "networkIdentities": [
        {
            "ports": "455",
            "protocol": "TCP"
        },
        {
            "ports": "455",
            "protocol": "UDP"
        }
    ]
}