{
    "description": "5338",
    "name": "cryptoadmin",
    "networkIdentities": [
        {
            "ports": "624",
            "protocol": "TCP"
        },
        {
            "ports": "624",
            "protocol": "UDP"
        }
    ]
}