{
    "description": "5340",
    "name": "csi-sgwp",
    "networkIdentities": [
        {
            "ports": "348",
            "protocol": "TCP"
        },
        {
            "ports": "348",
            "protocol": "UDP"
        }
    ]
}