{
    "description": "5341",
    "name": "csnet-ns",
    "networkIdentities": [
        {
            "ports": "105",
            "protocol": "TCP"
        },
        {
            "ports": "105",
            "protocol": "UDP"
        }
    ]
}