{
    "description": "5344",
    "name": "custix",
    "networkIdentities": [
        {
            "ports": "528",
            "protocol": "UDP"
        },
        {
            "ports": "528",
            "protocol": "TCP"
        }
    ]
}