{
    "description": "5349",
    "name": "cycleserv",
    "networkIdentities": [
        {
            "ports": "763",
            "protocol": "UDP"
        },
        {
            "ports": "763",
            "protocol": "TCP"
        }
    ]
}