{
    "description": "5350",
    "name": "cycleserv2",
    "networkIdentities": [
        {
            "ports": "772",
            "protocol": "TCP"
        },
        {
            "ports": "772",
            "protocol": "UDP"
        }
    ]
}