{
    "description": "5354",
    "name": "dantz",
    "networkIdentities": [
        {
            "ports": "497",
            "protocol": "UDP"
        },
        {
            "ports": "497",
            "protocol": "TCP"
        }
    ]
}