{
    "description": "5356",
    "name": "datasurfsrv",
    "networkIdentities": [
        {
            "ports": "461",
            "protocol": "UDP"
        },
        {
            "ports": "461",
            "protocol": "TCP"
        }
    ]
}