{
    "description": "5357",
    "name": "datasurfsrvsec",
    "networkIdentities": [
        {
            "ports": "462",
            "protocol": "TCP"
        },
        {
            "ports": "462",
            "protocol": "UDP"
        }
    ]
}