{
    "description": "5359",
    "name": "datex-asn",
    "networkIdentities": [
        {
            "ports": "355",
            "protocol": "TCP"
        },
        {
            "ports": "355",
            "protocol": "UDP"
        }
    ]
}