{
    "description": "5367",
    "name": "dcp",
    "networkIdentities": [
        {
            "ports": "93",
            "protocol": "TCP"
        },
        {
            "ports": "93",
            "protocol": "UDP"
        }
    ]
}