{
    "description": "5368",
    "name": "dctp",
    "networkIdentities": [
        {
            "ports": "675",
            "protocol": "TCP"
        },
        {
            "ports": "675",
            "protocol": "UDP"
        }
    ]
}