{
    "description": "5371",
    "name": "ddm-ssl",
    "networkIdentities": [
        {
            "ports": "448",
            "protocol": "TCP"
        },
        {
            "ports": "448",
            "protocol": "UDP"
        }
    ]
}