{
    "description": "5369",
    "name": "ddm-dfm",
    "networkIdentities": [
        {
            "ports": "447",
            "protocol": "TCP"
        },
        {
            "ports": "447",
            "protocol": "UDP"
        }
    ]
}