{
    "description": "5376",
    "name": "decauth",
    "networkIdentities": [
        {
            "ports": "316",
            "protocol": "TCP"
        },
        {
            "ports": "316",
            "protocol": "UDP"
        }
    ]
}