{
    "description": "5384",
    "name": "device",
    "networkIdentities": [
        {
            "ports": "801",
            "protocol": "TCP"
        },
        {
            "ports": "801",
            "protocol": "UDP"
        }
    ]
}