{
    "description": "5387",
    "name": "dhcp-failover",
    "networkIdentities": [
        {
            "ports": "647",
            "protocol": "UDP"
        },
        {
            "ports": "647",
            "protocol": "TCP"
        }
    ]
}