{
    "description": "5388",
    "name": "dhcp-failover2",
    "networkIdentities": [
        {
            "ports": "847",
            "protocol": "UDP"
        },
        {
            "ports": "847",
            "protocol": "TCP"
        }
    ]
}