{
    "description": "5398",
    "name": "directv-catlg",
    "networkIdentities": [
        {
            "ports": "3337",
            "protocol": "UDP"
        },
        {
            "ports": "3337",
            "protocol": "TCP"
        }
    ]
}