{
    "description": "5396",
    "name": "directplay",
    "networkIdentities": [
        {
            "ports": "2234",
            "protocol": "TCP"
        },
        {
            "ports": "2234",
            "protocol": "UDP"
        }
    ]
}