{
    "description": "5399",
    "name": "directv-soft",
    "networkIdentities": [
        {
            "ports": "3335",
            "protocol": "UDP"
        },
        {
            "ports": "3335",
            "protocol": "TCP"
        }
    ]
}