{
    "description": "5397",
    "name": "directplay8",
    "networkIdentities": [
        {
            "ports": "6073",
            "protocol": "UDP"
        },
        {
            "ports": "6073",
            "protocol": "TCP"
        }
    ]
}