{
    "description": "5401",
    "name": "directv-web",
    "networkIdentities": [
        {
            "ports": "3334",
            "protocol": "TCP"
        },
        {
            "ports": "3334",
            "protocol": "UDP"
        }
    ]
}