{
    "description": "5400",
    "name": "directv-tick",
    "networkIdentities": [
        {
            "ports": "3336",
            "protocol": "UDP"
        },
        {
            "ports": "3336",
            "protocol": "TCP"
        }
    ]
}