{
    "description": "5402",
    "name": "discard",
    "networkIdentities": [
        {
            "ports": "9",
            "protocol": "UDP"
        },
        {
            "ports": "9",
            "protocol": "TCP"
        }
    ]
}