{
    "description": "5406",
    "name": "distcc",
    "networkIdentities": [
        {
            "ports": "3632",
            "protocol": "UDP"
        },
        {
            "ports": "3632",
            "protocol": "TCP"
        }
    ]
}