{
    "description": "5408",
    "name": "dls",
    "networkIdentities": [
        {
            "ports": "197",
            "protocol": "UDP"
        },
        {
            "ports": "197",
            "protocol": "TCP"
        }
    ]
}