{
    "description": "5411",
    "name": "dn6-nlm-aud",
    "networkIdentities": [
        {
            "ports": "195",
            "protocol": "TCP"
        },
        {
            "ports": "195",
            "protocol": "UDP"
        }
    ]
}