{
    "description": "5413",
    "name": "dnp",
    "networkIdentities": [
        {
            "ports": "19999,20000",
            "protocol": "TCP"
        },
        {
            "ports": "19999,20000",
            "protocol": "UDP"
        }
    ]
}