{
    "description": "5414",
    "name": "dns",
    "networkIdentities": [
        {
            "ports": "53,5353",
            "protocol": "TCP"
        },
        {
            "ports": "53,5353",
            "protocol": "UDP"
        }
    ]
}