{
    "description": "5415",
    "name": "dnsix",
    "networkIdentities": [
        {
            "ports": "90",
            "protocol": "TCP"
        },
        {
            "ports": "90",
            "protocol": "UDP"
        }
    ]
}