{
    "description": "5416",
    "name": "doom",
    "networkIdentities": [
        {
            "ports": "666",
            "protocol": "TCP"
        },
        {
            "ports": "666",
            "protocol": "UDP"
        }
    ]
}