{
    "description": "5423",
    "name": "dsp3270",
    "networkIdentities": [
        {
            "ports": "246",
            "protocol": "TCP"
        },
        {
            "ports": "246",
            "protocol": "UDP"
        }
    ]
}