{
    "description": "5437",
    "name": "elcsd",
    "networkIdentities": [
        {
            "ports": "704",
            "protocol": "TCP"
        },
        {
            "ports": "704",
            "protocol": "UDP"
        }
    ]
}