{
    "description": "5438",
    "name": "embl-ndt",
    "networkIdentities": [
        {
            "ports": "394",
            "protocol": "TCP"
        },
        {
            "ports": "394",
            "protocol": "UDP"
        }
    ]
}