{
    "description": "5449",
    "name": "entrust-aams",
    "networkIdentities": [
        {
            "ports": "681",
            "protocol": "UDP"
        },
        {
            "ports": "681",
            "protocol": "TCP"
        }
    ]
}