{
    "description": "5450",
    "name": "entrust-ash",
    "networkIdentities": [
        {
            "ports": "710",
            "protocol": "TCP"
        },
        {
            "ports": "710",
            "protocol": "UDP"
        }
    ]
}