{
    "description": "5455",
    "name": "escp-ip",
    "networkIdentities": [
        {
            "ports": "621",
            "protocol": "TCP"
        },
        {
            "ports": "621",
            "protocol": "UDP"
        }
    ]
}