{
    "description": "5463",
    "name": "eudora-set",
    "networkIdentities": [
        {
            "ports": "592",
            "protocol": "TCP"
        },
        {
            "ports": "592",
            "protocol": "UDP"
        }
    ]
}