{
    "description": "5475",
    "name": "fasttrack-static",
    "networkIdentities": [
        {
            "ports": "1214",
            "protocol": "TCP"
        },
        {
            "ports": "1214",
            "protocol": "UDP"
        }
    ]
}