{
    "description": "5476",
    "name": "fatserv",
    "networkIdentities": [
        {
            "ports": "347",
            "protocol": "UDP"
        },
        {
            "ports": "347",
            "protocol": "TCP"
        }
    ]
}