{
    "description": "5482",
    "name": "filemaker-announcement",
    "networkIdentities": [
        {
            "ports": "2399,5003,5013,5015,16000,16001,16016",
            "protocol": "TCP"
        },
        {
            "ports": "2399,5003,5013,5015,16000,16001,16016",
            "protocol": "UDP"
        }
    ]
}