{
    "description": "5484",
    "name": "finger",
    "networkIdentities": [
        {
            "ports": "79",
            "protocol": "UDP"
        },
        {
            "ports": "79",
            "protocol": "TCP"
        }
    ]
}