{
    "description": "5494",
    "name": "font-service",
    "networkIdentities": [
        {
            "ports": "7100",
            "protocol": "TCP"
        },
        {
            "ports": "7100",
            "protocol": "UDP"
        }
    ]
}