{
    "description": "5502",
    "name": "ftp-agent",
    "networkIdentities": [
        {
            "ports": "574",
            "protocol": "TCP"
        },
        {
            "ports": "574",
            "protocol": "UDP"
        }
    ]
}