{
    "description": "5505",
    "name": "fujitsu-dev",
    "networkIdentities": [
        {
            "ports": "747",
            "protocol": "UDP"
        },
        {
            "ports": "747",
            "protocol": "TCP"
        }
    ]
}