{
    "description": "5509",
    "name": "gdomap",
    "networkIdentities": [
        {
            "ports": "538",
            "protocol": "UDP"
        },
        {
            "ports": "538",
            "protocol": "TCP"
        }
    ]
}