{
    "description": "5511",
    "name": "genie",
    "networkIdentities": [
        {
            "ports": "402",
            "protocol": "TCP"
        },
        {
            "ports": "402",
            "protocol": "UDP"
        }
    ]
}