{
    "description": "5513",
    "name": "ggf-ncp",
    "networkIdentities": [
        {
            "ports": "678",
            "protocol": "UDP"
        },
        {
            "ports": "678",
            "protocol": "TCP"
        }
    ]
}