{
    "description": "5516",
    "name": "ginad",
    "networkIdentities": [
        {
            "ports": "634",
            "protocol": "UDP"
        },
        {
            "ports": "634",
            "protocol": "TCP"
        }
    ]
}