{
    "description": "5524",
    "name": "go-login",
    "networkIdentities": [
        {
            "ports": "491",
            "protocol": "UDP"
        },
        {
            "ports": "491",
            "protocol": "TCP"
        }
    ]
}