{
    "description": "5539",
    "name": "gopher",
    "networkIdentities": [
        {
            "ports": "70",
            "protocol": "TCP"
        },
        {
            "ports": "70",
            "protocol": "UDP"
        }
    ]
}