{
    "description": "5540",
    "name": "gotodevice",
    "networkIdentities": [
        {
            "ports": "2217",
            "protocol": "UDP"
        },
        {
            "ports": "2217",
            "protocol": "TCP"
        }
    ]
}