{
    "description": "5550",
    "name": "gss-http",
    "networkIdentities": [
        {
            "ports": "488",
            "protocol": "UDP"
        },
        {
            "ports": "488",
            "protocol": "TCP"
        }
    ]
}