{
    "description": "5557",
    "name": "gtp-user",
    "networkIdentities": [
        {
            "ports": "2152",
            "protocol": "TCP"
        },
        {
            "ports": "2152",
            "protocol": "UDP"
        }
    ]
}