{
    "description": "5562",
    "name": "h323",
    "networkIdentities": [
        {
            "ports": "1300,1718,1719,1720,11720",
            "protocol": "TCP"
        },
        {
            "ports": "1300,1718,1719,1720,11720",
            "protocol": "UDP"
        }
    ]
}