{
    "description": "5563",
    "name": "ha-cluster",
    "networkIdentities": [
        {
            "ports": "694",
            "protocol": "TCP"
        },
        {
            "ports": "694",
            "protocol": "UDP"
        }
    ]
}