{
    "description": "5572",
    "name": "hassle",
    "networkIdentities": [
        {
            "ports": "375",
            "protocol": "UDP"
        },
        {
            "ports": "375",
            "protocol": "TCP"
        }
    ]
}