{
    "description": "5582",
    "name": "hmmp-op",
    "networkIdentities": [
        {
            "ports": "613",
            "protocol": "UDP"
        },
        {
            "ports": "613",
            "protocol": "TCP"
        }
    ]
}