{
    "description": "5588",
    "name": "hostname",
    "networkIdentities": [
        {
            "ports": "101",
            "protocol": "TCP"
        },
        {
            "ports": "101",
            "protocol": "UDP"
        }
    ]
}