{
    "description": "5591",
    "name": "hp-alarm-mgr",
    "networkIdentities": [
        {
            "ports": "383",
            "protocol": "TCP"
        },
        {
            "ports": "383",
            "protocol": "UDP"
        }
    ]
}