{
    "description": "5594",
    "name": "hp-pdl-datastr",
    "networkIdentities": [
        {
            "ports": "9100",
            "protocol": "TCP"
        },
        {
            "ports": "9100",
            "protocol": "UDP"
        }
    ]
}