{
    "description": "5601",
    "name": "http-rpc-epmap",
    "networkIdentities": [
        {
            "ports": "593",
            "protocol": "TCP"
        },
        {
            "ports": "593",
            "protocol": "UDP"
        }
    ]
}