{
    "description": "5597",
    "name": "http-alt",
    "networkIdentities": [
        {
            "ports": "591,8008,8080",
            "protocol": "TCP"
        },
        {
            "ports": "591,8008,8080",
            "protocol": "UDP"
        }
    ]
}