{
    "description": "5611",
    "name": "iafserver",
    "networkIdentities": [
        {
            "ports": "479",
            "protocol": "UDP"
        },
        {
            "ports": "479",
            "protocol": "TCP"
        }
    ]
}