{
    "description": "5612",
    "name": "iasd",
    "networkIdentities": [
        {
            "ports": "432",
            "protocol": "UDP"
        },
        {
            "ports": "432",
            "protocol": "TCP"
        }
    ]
}