{
    "description": "5614",
    "name": "iax",
    "networkIdentities": [
        {
            "ports": "4569",
            "protocol": "TCP"
        },
        {
            "ports": "4569",
            "protocol": "UDP"
        }
    ]
}