{
    "description": "5619",
    "name": "iclcnet-locate",
    "networkIdentities": [
        {
            "ports": "886",
            "protocol": "TCP"
        },
        {
            "ports": "886",
            "protocol": "UDP"
        }
    ]
}