{
    "description": "5625",
    "name": "idfp",
    "networkIdentities": [
        {
            "ports": "549",
            "protocol": "TCP"
        },
        {
            "ports": "549",
            "protocol": "UDP"
        }
    ]
}