{
    "description": "5630",
    "name": "ieee-mms-ssl",
    "networkIdentities": [
        {
            "ports": "695",
            "protocol": "TCP"
        },
        {
            "ports": "695",
            "protocol": "UDP"
        }
    ]
}