{
    "description": "5636",
    "name": "imap",
    "networkIdentities": [
        {
            "ports": "143,220",
            "protocol": "UDP"
        },
        {
            "ports": "143,220",
            "protocol": "TCP"
        }
    ]
}