{
    "description": "5639",
    "name": "imsp",
    "networkIdentities": [
        {
            "ports": "406",
            "protocol": "UDP"
        },
        {
            "ports": "406",
            "protocol": "TCP"
        }
    ]
}