{
    "description": "5651",
    "name": "intecourier",
    "networkIdentities": [
        {
            "ports": "495",
            "protocol": "TCP"
        },
        {
            "ports": "495",
            "protocol": "UDP"
        }
    ]
}