{
    "description": "5664",
    "name": "ipdd",
    "networkIdentities": [
        {
            "ports": "578",
            "protocol": "TCP"
        },
        {
            "ports": "578",
            "protocol": "UDP"
        }
    ]
}