{
    "description": "5670",
    "name": "ipp",
    "networkIdentities": [
        {
            "ports": "631",
            "protocol": "TCP"
        },
        {
            "ports": "631",
            "protocol": "UDP"
        }
    ]
}