{
    "description": "5681",
    "name": "irc-serv",
    "networkIdentities": [
        {
            "ports": "529",
            "protocol": "UDP"
        },
        {
            "ports": "529",
            "protocol": "TCP"
        }
    ]
}