{
    "description": "5684",
    "name": "is99s",
    "networkIdentities": [
        {
            "ports": "380",
            "protocol": "UDP"
        },
        {
            "ports": "380",
            "protocol": "TCP"
        }
    ]
}