{
    "description": "5687",
    "name": "iscsi",
    "networkIdentities": [
        {
            "ports": "860,3260",
            "protocol": "UDP"
        },
        {
            "ports": "860",
            "protocol": "TCP"
        }
    ]
}