{
    "description": "5693",
    "name": "iso-tp0",
    "networkIdentities": [
        {
            "ports": "146",
            "protocol": "TCP"
        },
        {
            "ports": "146",
            "protocol": "UDP"
        }
    ]
}