{
    "description": "5697",
    "name": "itm-mcell-s",
    "networkIdentities": [
        {
            "ports": "828",
            "protocol": "UDP"
        },
        {
            "ports": "828",
            "protocol": "TCP"
        }
    ]
}