{
    "description": "5705",
    "name": "jargon",
    "networkIdentities": [
        {
            "ports": "148",
            "protocol": "TCP"
        },
        {
            "ports": "148",
            "protocol": "UDP"
        }
    ]
}