{
    "description": "5712",
    "name": "k-block",
    "networkIdentities": [
        {
            "ports": "287",
            "protocol": "UDP"
        },
        {
            "ports": "287",
            "protocol": "TCP"
        }
    ]
}