{
    "description": "5718",
    "name": "kerberos",
    "networkIdentities": [
        {
            "ports": "88",
            "protocol": "TCP"
        },
        {
            "ports": "88",
            "protocol": "UDP"
        }
    ]
}