{
    "description": "5721",
    "name": "keyserver",
    "networkIdentities": [
        {
            "ports": "584",
            "protocol": "TCP"
        },
        {
            "ports": "584",
            "protocol": "UDP"
        }
    ]
}