{
    "description": "5723",
    "name": "kis",
    "networkIdentities": [
        {
            "ports": "186",
            "protocol": "TCP"
        },
        {
            "ports": "186",
            "protocol": "UDP"
        }
    ]
}