{
    "description": "5724",
    "name": "klogin",
    "networkIdentities": [
        {
            "ports": "543",
            "protocol": "UDP"
        },
        {
            "ports": "543",
            "protocol": "TCP"
        }
    ]
}