{
    "description": "5725",
    "name": "knet-cmp",
    "networkIdentities": [
        {
            "ports": "157",
            "protocol": "UDP"
        },
        {
            "ports": "157",
            "protocol": "TCP"
        }
    ]
}