{
    "description": "5726",
    "name": "kpasswd",
    "networkIdentities": [
        {
            "ports": "464",
            "protocol": "UDP"
        },
        {
            "ports": "464",
            "protocol": "TCP"
        }
    ]
}