{
    "description": "5732",
    "name": "lanserver",
    "networkIdentities": [
        {
            "ports": "637",
            "protocol": "TCP"
        },
        {
            "ports": "637",
            "protocol": "UDP"
        }
    ]
}