{
    "description": "5734",
    "name": "ldap",
    "networkIdentities": [
        {
            "ports": "389",
            "protocol": "TCP"
        },
        {
            "ports": "389",
            "protocol": "UDP"
        }
    ]
}