{
    "description": "5735",
    "name": "ldp",
    "networkIdentities": [
        {
            "ports": "646",
            "protocol": "UDP"
        },
        {
            "ports": "646",
            "protocol": "TCP"
        }
    ]
}