{
    "description": "5739",
    "name": "legent-2",
    "networkIdentities": [
        {
            "ports": "374",
            "protocol": "UDP"
        },
        {
            "ports": "374",
            "protocol": "TCP"
        }
    ]
}