{
    "description": "5738",
    "name": "legent-1",
    "networkIdentities": [
        {
            "ports": "373",
            "protocol": "TCP"
        },
        {
            "ports": "373",
            "protocol": "UDP"
        }
    ]
}