{
    "description": "5748",
    "name": "ljk-login",
    "networkIdentities": [
        {
            "ports": "472",
            "protocol": "UDP"
        },
        {
            "ports": "472",
            "protocol": "TCP"
        }
    ]
}