{
    "description": "5749",
    "name": "llmnr",
    "networkIdentities": [
        {
            "ports": "5355",
            "protocol": "UDP"
        },
        {
            "ports": "5355",
            "protocol": "TCP"
        }
    ]
}