{
    "description": "5750",
    "name": "lockd",
    "networkIdentities": [
        {
            "ports": "4045",
            "protocol": "UDP"
        },
        {
            "ports": "4045",
            "protocol": "TCP"
        }
    ]
}