{
    "description": "5759",
    "name": "mac-srvr-admin",
    "networkIdentities": [
        {
            "ports": "660",
            "protocol": "UDP"
        },
        {
            "ports": "660",
            "protocol": "TCP"
        }
    ]
}