{
    "description": "5760",
    "name": "magenta-logic",
    "networkIdentities": [
        {
            "ports": "313",
            "protocol": "TCP"
        },
        {
            "ports": "313",
            "protocol": "UDP"
        }
    ]
}