{
    "description": "5763",
    "name": "mailbox-lm",
    "networkIdentities": [
        {
            "ports": "505",
            "protocol": "TCP"
        },
        {
            "ports": "505",
            "protocol": "UDP"
        }
    ]
}