{
    "description": "5773",
    "name": "masqdialer",
    "networkIdentities": [
        {
            "ports": "224",
            "protocol": "UDP"
        },
        {
            "ports": "224",
            "protocol": "TCP"
        }
    ]
}