{
    "description": "5774",
    "name": "matip-type-a",
    "networkIdentities": [
        {
            "ports": "350",
            "protocol": "TCP"
        },
        {
            "ports": "350",
            "protocol": "UDP"
        }
    ]
}