{
    "description": "5779",
    "name": "mcidas",
    "networkIdentities": [
        {
            "ports": "112",
            "protocol": "TCP"
        },
        {
            "ports": "112",
            "protocol": "UDP"
        }
    ]
}