{
    "description": "5780",
    "name": "mcns-sec",
    "networkIdentities": [
        {
            "ports": "638",
            "protocol": "UDP"
        },
        {
            "ports": "638",
            "protocol": "TCP"
        }
    ]
}