{
    "description": "5788",
    "name": "metagram",
    "networkIdentities": [
        {
            "ports": "99",
            "protocol": "UDP"
        },
        {
            "ports": "99",
            "protocol": "TCP"
        }
    ]
}