{
    "description": "5789",
    "name": "meter",
    "networkIdentities": [
        {
            "ports": "570",
            "protocol": "UDP"
        },
        {
            "ports": "570",
            "protocol": "TCP"
        }
    ]
}