{
    "description": "5792",
    "name": "mftp",
    "networkIdentities": [
        {
            "ports": "349",
            "protocol": "UDP"
        },
        {
            "ports": "349",
            "protocol": "TCP"
        }
    ]
}