{
    "description": "5796",
    "name": "micromuse-lm",
    "networkIdentities": [
        {
            "ports": "1534",
            "protocol": "TCP"
        },
        {
            "ports": "1534",
            "protocol": "UDP"
        }
    ]
}