{
    "description": "5801",
    "name": "mit-dov",
    "networkIdentities": [
        {
            "ports": "91",
            "protocol": "UDP"
        },
        {
            "ports": "91",
            "protocol": "TCP"
        }
    ]
}