{
    "description": "5806",
    "name": "mobileip-agent",
    "networkIdentities": [
        {
            "ports": "434",
            "protocol": "UDP"
        },
        {
            "ports": "434",
            "protocol": "TCP"
        }
    ]
}