{
    "description": "5049",
    "name": "MobilitySrv",
    "networkIdentities": [
        {
            "ports": "6997",
            "protocol": "UDP"
        },
        {
            "ports": "6997",
            "protocol": "TCP"
        }
    ]
}