{
    "description": "5811",
    "name": "monitor",
    "networkIdentities": [
        {
            "ports": "561",
            "protocol": "TCP"
        },
        {
            "ports": "561",
            "protocol": "UDP"
        }
    ]
}