{
    "description": "5818",
    "name": "mpm-snd",
    "networkIdentities": [
        {
            "ports": "46",
            "protocol": "UDP"
        },
        {
            "ports": "46",
            "protocol": "TCP"
        }
    ]
}