{
    "description": "5816",
    "name": "mpm",
    "networkIdentities": [
        {
            "ports": "45",
            "protocol": "TCP"
        },
        {
            "ports": "45",
            "protocol": "UDP"
        }
    ]
}