{
    "description": "5820",
    "name": "mptn",
    "networkIdentities": [
        {
            "ports": "397",
            "protocol": "UDP"
        },
        {
            "ports": "397",
            "protocol": "TCP"
        }
    ]
}