{
    "description": "5822",
    "name": "mrm",
    "networkIdentities": [
        {
            "ports": "679",
            "protocol": "TCP"
        },
        {
            "ports": "679",
            "protocol": "UDP"
        }
    ]
}