{
    "description": "5835",
    "name": "ms-olap",
    "networkIdentities": [
        {
            "ports": "2393",
            "protocol": "UDP"
        },
        {
            "ports": "2393",
            "protocol": "TCP"
        }
    ]
}