{
    "description": "5836",
    "name": "ms-rome",
    "networkIdentities": [
        {
            "ports": "569",
            "protocol": "TCP"
        },
        {
            "ports": "569",
            "protocol": "UDP"
        }
    ]
}