{
    "description": "5841",
    "name": "ms-sql-m",
    "networkIdentities": [
        {
            "ports": "1434",
            "protocol": "UDP"
        },
        {
            "ports": "1434",
            "protocol": "TCP"
        }
    ]
}