{
    "description": "5839",
    "name": "ms-shuttle",
    "networkIdentities": [
        {
            "ports": "568",
            "protocol": "TCP"
        },
        {
            "ports": "568",
            "protocol": "UDP"
        }
    ]
}