{
    "description": "5854",
    "name": "msft-gc",
    "networkIdentities": [
        {
            "ports": "3268",
            "protocol": "TCP"
        },
        {
            "ports": "3268",
            "protocol": "UDP"
        }
    ]
}