{
    "description": "5861",
    "name": "msnp",
    "networkIdentities": [
        {
            "ports": "1863",
            "protocol": "TCP"
        },
        {
            "ports": "1863",
            "protocol": "UDP"
        }
    ]
}