{
    "description": "5862",
    "name": "msp",
    "networkIdentities": [
        {
            "ports": "18",
            "protocol": "TCP"
        },
        {
            "ports": "18",
            "protocol": "UDP"
        }
    ]
}