{
    "description": "5866",
    "name": "multiplex",
    "networkIdentities": [
        {
            "ports": "171",
            "protocol": "UDP"
        },
        {
            "ports": "171",
            "protocol": "TCP"
        }
    ]
}