{
    "description": "5867",
    "name": "mumps",
    "networkIdentities": [
        {
            "ports": "188",
            "protocol": "TCP"
        },
        {
            "ports": "188",
            "protocol": "UDP"
        }
    ]
}