{
    "description": "5870",
    "name": "mylex-mapd",
    "networkIdentities": [
        {
            "ports": "467",
            "protocol": "TCP"
        },
        {
            "ports": "467",
            "protocol": "UDP"
        }
    ]
}