{
    "description": "5872",
    "name": "name",
    "networkIdentities": [
        {
            "ports": "42",
            "protocol": "TCP"
        },
        {
            "ports": "42",
            "protocol": "UDP"
        }
    ]
}