{
    "description": "5876",
    "name": "nas",
    "networkIdentities": [
        {
            "ports": "991",
            "protocol": "UDP"
        },
        {
            "ports": "991",
            "protocol": "TCP"
        }
    ]
}