{
    "description": "5892",
    "name": "netbios-dgm",
    "networkIdentities": [
        {
            "ports": "138",
            "protocol": "UDP"
        },
        {
            "ports": "138",
            "protocol": "TCP"
        }
    ]
}