{
    "description": "5893",
    "name": "netbios-ns",
    "networkIdentities": [
        {
            "ports": "137",
            "protocol": "TCP"
        },
        {
            "ports": "137",
            "protocol": "UDP"
        }
    ]
}