{
    "description": "5898",
    "name": "netgw",
    "networkIdentities": [
        {
            "ports": "741",
            "protocol": "UDP"
        },
        {
            "ports": "741",
            "protocol": "TCP"
        }
    ]
}