{
    "description": "5900",
    "name": "netop-remote-control",
    "networkIdentities": [
        {
            "ports": "1970,1971,6502",
            "protocol": "TCP"
        },
        {
            "ports": "1970,1971,6502,26137",
            "protocol": "UDP"
        }
    ]
}