{
    "description": "5904",
    "name": "netrjs-3",
    "networkIdentities": [
        {
            "ports": "73",
            "protocol": "UDP"
        },
        {
            "ports": "73",
            "protocol": "TCP"
        }
    ]
}