{
    "description": "5901",
    "name": "netrcs",
    "networkIdentities": [
        {
            "ports": "742",
            "protocol": "TCP"
        },
        {
            "ports": "742",
            "protocol": "UDP"
        }
    ]
}