{
    "description": "5903",
    "name": "netrjs-2",
    "networkIdentities": [
        {
            "ports": "72",
            "protocol": "TCP"
        },
        {
            "ports": "72",
            "protocol": "UDP"
        }
    ]
}