{
    "description": "5907",
    "name": "netsc-prod",
    "networkIdentities": [
        {
            "ports": "154",
            "protocol": "UDP"
        },
        {
            "ports": "154",
            "protocol": "TCP"
        }
    ]
}