{
    "description": "5912",
    "name": "netviewdm3",
    "networkIdentities": [
        {
            "ports": "731",
            "protocol": "UDP"
        },
        {
            "ports": "731",
            "protocol": "TCP"
        }
    ]
}