{
    "description": "5911",
    "name": "netviewdm2",
    "networkIdentities": [
        {
            "ports": "730",
            "protocol": "TCP"
        },
        {
            "ports": "730",
            "protocol": "UDP"
        }
    ]
}