{
    "description": "5915",
    "name": "netware-ip",
    "networkIdentities": [
        {
            "ports": "396",
            "protocol": "TCP"
        },
        {
            "ports": "396",
            "protocol": "UDP"
        }
    ]
}