{
    "description": "5914",
    "name": "netwall",
    "networkIdentities": [
        {
            "ports": "533",
            "protocol": "UDP"
        },
        {
            "ports": "533",
            "protocol": "TCP"
        }
    ]
}