{
    "description": "5919",
    "name": "nfs",
    "networkIdentities": [
        {
            "ports": "2049",
            "protocol": "UDP"
        },
        {
            "ports": "2049",
            "protocol": "TCP"
        }
    ]
}