{
    "description": "5922",
    "name": "ni-mail",
    "networkIdentities": [
        {
            "ports": "61",
            "protocol": "UDP"
        },
        {
            "ports": "61",
            "protocol": "TCP"
        }
    ]
}