{
    "description": "5928",
    "name": "nmsp",
    "networkIdentities": [
        {
            "ports": "537",
            "protocol": "TCP"
        },
        {
            "ports": "537",
            "protocol": "UDP"
        }
    ]
}