{
    "description": "5934",
    "name": "novastorbakcup",
    "networkIdentities": [
        {
            "ports": "308",
            "protocol": "TCP"
        },
        {
            "ports": "308",
            "protocol": "UDP"
        }
    ]
}