{
    "description": "5939",
    "name": "nqs",
    "networkIdentities": [
        {
            "ports": "607",
            "protocol": "TCP"
        },
        {
            "ports": "607",
            "protocol": "UDP"
        }
    ]
}