{
    "description": "5942",
    "name": "nsiiops",
    "networkIdentities": [
        {
            "ports": "261",
            "protocol": "UDP"
        },
        {
            "ports": "261",
            "protocol": "TCP"
        }
    ]
}