{
    "description": "5945",
    "name": "nsw-fe",
    "networkIdentities": [
        {
            "ports": "27",
            "protocol": "UDP"
        },
        {
            "ports": "27",
            "protocol": "TCP"
        }
    ]
}