{
    "description": "5946",
    "name": "ntalk",
    "networkIdentities": [
        {
            "ports": "518",
            "protocol": "TCP"
        },
        {
            "ports": "518",
            "protocol": "UDP"
        }
    ]
}