{
    "description": "5949",
    "name": "nxedit",
    "networkIdentities": [
        {
            "ports": "126",
            "protocol": "UDP"
        },
        {
            "ports": "126",
            "protocol": "TCP"
        }
    ]
}