{
    "description": "5953",
    "name": "objcall",
    "networkIdentities": [
        {
            "ports": "94",
            "protocol": "UDP"
        },
        {
            "ports": "94",
            "protocol": "TCP"
        }
    ]
}