{
    "description": "5965",
    "name": "omserv",
    "networkIdentities": [
        {
            "ports": "764",
            "protocol": "UDP"
        },
        {
            "ports": "764",
            "protocol": "TCP"
        }
    ]
}