{
    "description": "5966",
    "name": "onmux",
    "networkIdentities": [
        {
            "ports": "417",
            "protocol": "TCP"
        },
        {
            "ports": "417",
            "protocol": "UDP"
        }
    ]
}