{
    "description": "5970",
    "name": "opc-job-track",
    "networkIdentities": [
        {
            "ports": "424",
            "protocol": "UDP"
        },
        {
            "ports": "424",
            "protocol": "TCP"
        }
    ]
}