{
    "description": "5969",
    "name": "opc-job-start",
    "networkIdentities": [
        {
            "ports": "423",
            "protocol": "UDP"
        },
        {
            "ports": "423",
            "protocol": "TCP"
        }
    ]
}