{
    "description": "5975",
    "name": "ora-srv",
    "networkIdentities": [
        {
            "ports": "1525",
            "protocol": "TCP"
        },
        {
            "ports": "1525",
            "protocol": "UDP"
        }
    ]
}