{
    "description": "5981",
    "name": "oraclenet8cman",
    "networkIdentities": [
        {
            "ports": "1630",
            "protocol": "TCP"
        },
        {
            "ports": "1630",
            "protocol": "UDP"
        }
    ]
}