{
    "description": "5983",
    "name": "orbix-config",
    "networkIdentities": [
        {
            "ports": "3076",
            "protocol": "TCP"
        },
        {
            "ports": "3076",
            "protocol": "UDP"
        }
    ]
}