{
    "description": "5984",
    "name": "orbix-loc-ssl",
    "networkIdentities": [
        {
            "ports": "3077",
            "protocol": "TCP"
        },
        {
            "ports": "3077",
            "protocol": "UDP"
        }
    ]
}