{
    "description": "5994",
    "name": "parsec-game",
    "networkIdentities": [
        {
            "ports": "6582",
            "protocol": "TCP"
        },
        {
            "ports": "6582",
            "protocol": "UDP"
        }
    ]
}