{
    "description": "5995",
    "name": "passgo",
    "networkIdentities": [
        {
            "ports": "511",
            "protocol": "UDP"
        },
        {
            "ports": "511",
            "protocol": "TCP"
        }
    ]
}