{
    "description": "20020",
    "name": "pdap",
    "networkIdentities": [
        {
            "ports": "344",
            "protocol": "TCP"
        },
        {
            "ports": "344",
            "protocol": "UDP"
        }
    ]
}