{
    "description": "20028",
    "name": "philips-vc",
    "networkIdentities": [
        {
            "ports": "583",
            "protocol": "UDP"
        },
        {
            "ports": "583",
            "protocol": "TCP"
        }
    ]
}