{
    "description": "20030",
    "name": "photuris",
    "networkIdentities": [
        {
            "ports": "468",
            "protocol": "TCP"
        },
        {
            "ports": "468",
            "protocol": "UDP"
        }
    ]
}