{
    "description": "20036",
    "name": "pip",
    "networkIdentities": [
        {
            "ports": "1321",
            "protocol": "UDP"
        },
        {
            "ports": "1321",
            "protocol": "TCP"
        }
    ]
}