{
    "description": "20038",
    "name": "pirp",
    "networkIdentities": [
        {
            "ports": "553",
            "protocol": "TCP"
        },
        {
            "ports": "553",
            "protocol": "UDP"
        }
    ]
}