{
    "description": "20039",
    "name": "pkix-3-ca-ra",
    "networkIdentities": [
        {
            "ports": "829",
            "protocol": "TCP"
        },
        {
            "ports": "829",
            "protocol": "UDP"
        }
    ]
}