{
    "description": "20050",
    "name": "powerburst",
    "networkIdentities": [
        {
            "ports": "485",
            "protocol": "TCP"
        },
        {
            "ports": "485",
            "protocol": "UDP"
        }
    ]
}