{
    "description": "20056",
    "name": "print-srv",
    "networkIdentities": [
        {
            "ports": "170",
            "protocol": "TCP"
        },
        {
            "ports": "170",
            "protocol": "UDP"
        }
    ]
}