{
    "description": "20062",
    "name": "prospero",
    "networkIdentities": [
        {
            "ports": "191",
            "protocol": "TCP"
        },
        {
            "ports": "191",
            "protocol": "UDP"
        }
    ]
}