{
    "description": "20065",
    "name": "ptcnameservice",
    "networkIdentities": [
        {
            "ports": "597",
            "protocol": "TCP"
        },
        {
            "ports": "597",
            "protocol": "UDP"
        }
    ]
}