{
    "description": "20069",
    "name": "pump",
    "networkIdentities": [
        {
            "ports": "751",
            "protocol": "UDP"
        },
        {
            "ports": "751",
            "protocol": "TCP"
        }
    ]
}