{
    "description": "20071",
    "name": "purenoise",
    "networkIdentities": [
        {
            "ports": "663",
            "protocol": "UDP"
        },
        {
            "ports": "663",
            "protocol": "TCP"
        }
    ]
}