{
    "description": "20074",
    "name": "qbikgdp",
    "networkIdentities": [
        {
            "ports": "368",
            "protocol": "TCP"
        },
        {
            "ports": "368",
            "protocol": "UDP"
        }
    ]
}