{
    "description": "20075",
    "name": "qft",
    "networkIdentities": [
        {
            "ports": "189",
            "protocol": "UDP"
        },
        {
            "ports": "189",
            "protocol": "TCP"
        }
    ]
}