{
    "description": "20089",
    "name": "radmin-port",
    "networkIdentities": [
        {
            "ports": "4899",
            "protocol": "UDP"
        },
        {
            "ports": "4899",
            "protocol": "TCP"
        }
    ]
}