{
    "description": "20092",
    "name": "rcp",
    "networkIdentities": [
        {
            "ports": "469",
            "protocol": "TCP"
        },
        {
            "ports": "469",
            "protocol": "UDP"
        }
    ]
}