{
    "description": "20094",
    "name": "rdb-dbs-disp",
    "networkIdentities": [
        {
            "ports": "1571",
            "protocol": "UDP"
        },
        {
            "ports": "1571",
            "protocol": "TCP"
        }
    ]
}