{
    "description": "20103",
    "name": "remotefs",
    "networkIdentities": [
        {
            "ports": "556",
            "protocol": "UDP"
        },
        {
            "ports": "556",
            "protocol": "TCP"
        }
    ]
}