{
    "description": "20102",
    "name": "remote-kis",
    "networkIdentities": [
        {
            "ports": "185",
            "protocol": "TCP"
        },
        {
            "ports": "185",
            "protocol": "UDP"
        }
    ]
}