{
    "description": "20104",
    "name": "repcmd",
    "networkIdentities": [
        {
            "ports": "641",
            "protocol": "TCP"
        },
        {
            "ports": "641",
            "protocol": "UDP"
        }
    ]
}