{
    "description": "20117",
    "name": "ris",
    "networkIdentities": [
        {
            "ports": "180",
            "protocol": "TCP"
        },
        {
            "ports": "180",
            "protocol": "UDP"
        }
    ]
}