{
    "description": "20121",
    "name": "rlzdbase",
    "networkIdentities": [
        {
            "ports": "635",
            "protocol": "UDP"
        },
        {
            "ports": "635",
            "protocol": "TCP"
        }
    ]
}