{
    "description": "20122",
    "name": "rmc",
    "networkIdentities": [
        {
            "ports": "657",
            "protocol": "UDP"
        },
        {
            "ports": "657",
            "protocol": "TCP"
        }
    ]
}