{
    "description": "20124",
    "name": "rmiregistry",
    "networkIdentities": [
        {
            "ports": "1099",
            "protocol": "TCP"
        },
        {
            "ports": "1099",
            "protocol": "UDP"
        }
    ]
}