{
    "description": "20125",
    "name": "rmonitor",
    "networkIdentities": [
        {
            "ports": "560",
            "protocol": "UDP"
        },
        {
            "ports": "560",
            "protocol": "TCP"
        }
    ]
}