{
    "description": "20128",
    "name": "rpc2portmap",
    "networkIdentities": [
        {
            "ports": "369",
            "protocol": "TCP"
        },
        {
            "ports": "369",
            "protocol": "UDP"
        }
    ]
}