{
    "description": "20130",
    "name": "rrp",
    "networkIdentities": [
        {
            "ports": "648",
            "protocol": "TCP"
        },
        {
            "ports": "648",
            "protocol": "UDP"
        }
    ]
}