{
    "description": "20136",
    "name": "rsvp-encap-2",
    "networkIdentities": [
        {
            "ports": "1699",
            "protocol": "TCP"
        },
        {
            "ports": "1699",
            "protocol": "UDP"
        }
    ]
}