{
    "description": "20137",
    "name": "rsvp_tunnel",
    "networkIdentities": [
        {
            "ports": "363",
            "protocol": "TCP"
        },
        {
            "ports": "363",
            "protocol": "UDP"
        }
    ]
}