{
    "description": "20135",
    "name": "rsvp-encap-1",
    "networkIdentities": [
        {
            "ports": "1698",
            "protocol": "UDP"
        },
        {
            "ports": "1698",
            "protocol": "TCP"
        }
    ]
}