{
    "description": "20138",
    "name": "rsync",
    "networkIdentities": [
        {
            "ports": "873",
            "protocol": "UDP"
        },
        {
            "ports": "873",
            "protocol": "TCP"
        }
    ]
}