{
    "description": "20141",
    "name": "rtip",
    "networkIdentities": [
        {
            "ports": "771",
            "protocol": "UDP"
        },
        {
            "ports": "771",
            "protocol": "TCP"
        }
    ]
}