{
    "description": "20152",
    "name": "rxe",
    "networkIdentities": [
        {
            "ports": "761",
            "protocol": "TCP"
        },
        {
            "ports": "761",
            "protocol": "UDP"
        }
    ]
}