{
    "description": "20153",
    "name": "s-net",
    "networkIdentities": [
        {
            "ports": "166",
            "protocol": "TCP"
        },
        {
            "ports": "166",
            "protocol": "UDP"
        }
    ]
}