{
    "description": "20154",
    "name": "saft",
    "networkIdentities": [
        {
            "ports": "487",
            "protocol": "UDP"
        },
        {
            "ports": "487",
            "protocol": "TCP"
        }
    ]
}