{
    "description": "20168",
    "name": "sco-websrvrmg3",
    "networkIdentities": [
        {
            "ports": "598",
            "protocol": "UDP"
        },
        {
            "ports": "598",
            "protocol": "TCP"
        }
    ]
}