{
    "description": "20171",
    "name": "scoi2odialog",
    "networkIdentities": [
        {
            "ports": "360",
            "protocol": "TCP"
        },
        {
            "ports": "360",
            "protocol": "UDP"
        }
    ]
}