{
    "description": "20186",
    "name": "secure-smtp",
    "networkIdentities": [
        {
            "ports": "465",
            "protocol": "TCP"
        },
        {
            "ports": "465",
            "protocol": "UDP"
        }
    ]
}