{
    "description": "20181",
    "name": "secure-imap",
    "networkIdentities": [
        {
            "ports": "993",
            "protocol": "UDP"
        },
        {
            "ports": "993",
            "protocol": "TCP"
        }
    ]
}