{
    "description": "20185",
    "name": "secure-pop3",
    "networkIdentities": [
        {
            "ports": "995",
            "protocol": "UDP"
        },
        {
            "ports": "995",
            "protocol": "TCP"
        }
    ]
}