{
    "description": "20189",
    "name": "semantix",
    "networkIdentities": [
        {
            "ports": "361",
            "protocol": "UDP"
        },
        {
            "ports": "361",
            "protocol": "TCP"
        }
    ]
}