{
    "description": "20191",
    "name": "server-ipx",
    "networkIdentities": [
        {
            "ports": "213",
            "protocol": "UDP"
        },
        {
            "ports": "213",
            "protocol": "TCP"
        }
    ]
}