{
    "description": "20197",
    "name": "sfs-config",
    "networkIdentities": [
        {
            "ports": "452",
            "protocol": "UDP"
        },
        {
            "ports": "452",
            "protocol": "TCP"
        }
    ]
}