{
    "description": "20200",
    "name": "sgcp",
    "networkIdentities": [
        {
            "ports": "440",
            "protocol": "TCP"
        },
        {
            "ports": "440",
            "protocol": "UDP"
        }
    ]
}