{
    "description": "20201",
    "name": "sgmp",
    "networkIdentities": [
        {
            "ports": "153",
            "protocol": "TCP"
        },
        {
            "ports": "153",
            "protocol": "UDP"
        }
    ]
}