{
    "description": "20211",
    "name": "siam",
    "networkIdentities": [
        {
            "ports": "498",
            "protocol": "TCP"
        },
        {
            "ports": "498",
            "protocol": "UDP"
        }
    ]
}