{
    "description": "20215",
    "name": "sip",
    "networkIdentities": [
        {
            "ports": "5060",
            "protocol": "TCP"
        },
        {
            "ports": "5060",
            "protocol": "UDP"
        }
    ]
}