{
    "description": "20220",
    "name": "sitaraserver",
    "networkIdentities": [
        {
            "ports": "2629",
            "protocol": "TCP"
        },
        {
            "ports": "2629",
            "protocol": "UDP"
        }
    ]
}