{
    "description": "20218",
    "name": "sitaradir",
    "networkIdentities": [
        {
            "ports": "2631",
            "protocol": "UDP"
        },
        {
            "ports": "2631",
            "protocol": "TCP"
        }
    ]
}