{
    "description": "20219",
    "name": "sitaramgmt",
    "networkIdentities": [
        {
            "ports": "2630",
            "protocol": "TCP"
        },
        {
            "ports": "2630",
            "protocol": "UDP"
        }
    ]
}