{
    "description": "20234",
    "name": "smakynet",
    "networkIdentities": [
        {
            "ports": "122",
            "protocol": "UDP"
        },
        {
            "ports": "122",
            "protocol": "TCP"
        }
    ]
}