{
    "description": "20236",
    "name": "smartsdp",
    "networkIdentities": [
        {
            "ports": "426",
            "protocol": "TCP"
        },
        {
            "ports": "426",
            "protocol": "UDP"
        }
    ]
}