{
    "description": "20242",
    "name": "smux",
    "networkIdentities": [
        {
            "ports": "199",
            "protocol": "UDP"
        },
        {
            "ports": "199",
            "protocol": "TCP"
        }
    ]
}