{
    "description": "20249",
    "name": "sntp-heartbeat",
    "networkIdentities": [
        {
            "ports": "580",
            "protocol": "UDP"
        },
        {
            "ports": "580",
            "protocol": "TCP"
        }
    ]
}