{
    "description": "20251",
    "name": "softpc",
    "networkIdentities": [
        {
            "ports": "215",
            "protocol": "TCP"
        },
        {
            "ports": "215",
            "protocol": "UDP"
        }
    ]
}