{
    "description": "20254",
    "name": "sonar",
    "networkIdentities": [
        {
            "ports": "572",
            "protocol": "UDP"
        },
        {
            "ports": "572",
            "protocol": "TCP"
        }
    ]
}