{
    "description": "20265",
    "name": "spmp",
    "networkIdentities": [
        {
            "ports": "656",
            "protocol": "UDP"
        },
        {
            "ports": "656",
            "protocol": "TCP"
        }
    ]
}