{
    "description": "20270",
    "name": "sql-net",
    "networkIdentities": [
        {
            "ports": "150",
            "protocol": "TCP"
        },
        {
            "ports": "150",
            "protocol": "UDP"
        }
    ]
}