{
    "description": "20276",
    "name": "sqlsrv",
    "networkIdentities": [
        {
            "ports": "156",
            "protocol": "UDP"
        },
        {
            "ports": "156",
            "protocol": "TCP"
        }
    ]
}