{
    "description": "20277",
    "name": "src",
    "networkIdentities": [
        {
            "ports": "200",
            "protocol": "TCP"
        },
        {
            "ports": "200",
            "protocol": "UDP"
        }
    ]
}