{
    "description": "20281",
    "name": "ss7ns",
    "networkIdentities": [
        {
            "ports": "477",
            "protocol": "UDP"
        },
        {
            "ports": "477",
            "protocol": "TCP"
        }
    ]
}