{
    "description": "20285",
    "name": "sshell",
    "networkIdentities": [
        {
            "ports": "614",
            "protocol": "TCP"
        },
        {
            "ports": "614",
            "protocol": "UDP"
        }
    ]
}