{
    "description": "20286",
    "name": "ssl",
    "networkIdentities": [
        {
            "ports": "443",
            "protocol": "TCP"
        },
        {
            "ports": "443",
            "protocol": "UDP"
        }
    ]
}