{
    "description": "20288",
    "name": "sst",
    "networkIdentities": [
        {
            "ports": "266",
            "protocol": "TCP"
        },
        {
            "ports": "266",
            "protocol": "UDP"
        }
    ]
}