{
    "description": "20298",
    "name": "stmf",
    "networkIdentities": [
        {
            "ports": "501",
            "protocol": "TCP"
        },
        {
            "ports": "501",
            "protocol": "UDP"
        }
    ]
}