{
    "description": "20300",
    "name": "streettalk",
    "networkIdentities": [
        {
            "ports": "566",
            "protocol": "UDP"
        },
        {
            "ports": "566",
            "protocol": "TCP"
        }
    ]
}