{
    "description": "20303",
    "name": "stx",
    "networkIdentities": [
        {
            "ports": "527",
            "protocol": "TCP"
        },
        {
            "ports": "527",
            "protocol": "UDP"
        }
    ]
}