{
    "description": "20309",
    "name": "sun-dr",
    "networkIdentities": [
        {
            "ports": "665",
            "protocol": "UDP"
        },
        {
            "ports": "665",
            "protocol": "TCP"
        }
    ]
}