{
    "description": "20312",
    "name": "supdup",
    "networkIdentities": [
        {
            "ports": "95",
            "protocol": "UDP"
        },
        {
            "ports": "95",
            "protocol": "TCP"
        }
    ]
}