{
    "description": "20315",
    "name": "svn",
    "networkIdentities": [
        {
            "ports": "3690",
            "protocol": "TCP"
        },
        {
            "ports": "3690",
            "protocol": "UDP"
        }
    ]
}