{
    "description": "20318",
    "name": "swift-rvf",
    "networkIdentities": [
        {
            "ports": "97",
            "protocol": "TCP"
        },
        {
            "ports": "97",
            "protocol": "UDP"
        }
    ]
}