{
    "description": "20320",
    "name": "sybase",
    "networkIdentities": [
        {
            "ports": "1498,2439,2638,4950",
            "protocol": "TCP"
        },
        {
            "ports": "1498,2439,2638,4950",
            "protocol": "UDP"
        }
    ]
}