{
    "description": "20323",
    "name": "synotics-broker",
    "networkIdentities": [
        {
            "ports": "392",
            "protocol": "TCP"
        },
        {
            "ports": "392",
            "protocol": "UDP"
        }
    ]
}