{
    "description": "20326",
    "name": "systat",
    "networkIdentities": [
        {
            "ports": "11",
            "protocol": "UDP"
        },
        {
            "ports": "11",
            "protocol": "TCP"
        }
    ]
}