{
    "description": "20328",
    "name": "tacacs",
    "networkIdentities": [
        {
            "ports": "49,65",
            "protocol": "TCP"
        },
        {
            "ports": "49,65",
            "protocol": "UDP"
        }
    ]
}