{
    "description": "20329",
    "name": "tacnews",
    "networkIdentities": [
        {
            "ports": "98",
            "protocol": "UDP"
        },
        {
            "ports": "98",
            "protocol": "TCP"
        }
    ]
}