{
    "description": "20331",
    "name": "talk",
    "networkIdentities": [
        {
            "ports": "517",
            "protocol": "TCP"
        },
        {
            "ports": "517",
            "protocol": "UDP"
        }
    ]
}