{
    "description": "20336",
    "name": "td-replica",
    "networkIdentities": [
        {
            "ports": "268",
            "protocol": "UDP"
        },
        {
            "ports": "268",
            "protocol": "TCP"
        }
    ]
}