{
    "description": "20347",
    "name": "tell",
    "networkIdentities": [
        {
            "ports": "754",
            "protocol": "UDP"
        },
        {
            "ports": "754",
            "protocol": "TCP"
        }
    ]
}