{
    "description": "20349",
    "name": "tempo",
    "networkIdentities": [
        {
            "ports": "526",
            "protocol": "TCP"
        },
        {
            "ports": "526",
            "protocol": "UDP"
        }
    ]
}