{
    "description": "20350",
    "name": "tenfold",
    "networkIdentities": [
        {
            "ports": "658",
            "protocol": "TCP"
        },
        {
            "ports": "658",
            "protocol": "UDP"
        }
    ]
}