{
    "description": "20354",
    "name": "texar",
    "networkIdentities": [
        {
            "ports": "333",
            "protocol": "TCP"
        },
        {
            "ports": "333",
            "protocol": "UDP"
        }
    ]
}