{
    "description": "20362",
    "name": "ticf-1",
    "networkIdentities": [
        {
            "ports": "492",
            "protocol": "TCP"
        },
        {
            "ports": "492",
            "protocol": "UDP"
        }
    ]
}