{
    "description": "20364",
    "name": "timbuktu",
    "networkIdentities": [
        {
            "ports": "407",
            "protocol": "UDP"
        },
        {
            "ports": "407",
            "protocol": "TCP"
        }
    ]
}