{
    "description": "20365",
    "name": "time",
    "networkIdentities": [
        {
            "ports": "37",
            "protocol": "TCP"
        },
        {
            "ports": "37",
            "protocol": "UDP"
        }
    ]
}