{
    "description": "20370",
    "name": "tlisrv",
    "networkIdentities": [
        {
            "ports": "1527",
            "protocol": "UDP"
        },
        {
            "ports": "1527",
            "protocol": "TCP"
        }
    ]
}