{
    "description": "20386",
    "name": "tserver",
    "networkIdentities": [
        {
            "ports": "450",
            "protocol": "UDP"
        },
        {
            "ports": "450",
            "protocol": "TCP"
        }
    ]
}