{
    "description": "20399",
    "name": "ulistproc",
    "networkIdentities": [
        {
            "ports": "372",
            "protocol": "TCP"
        },
        {
            "ports": "372",
            "protocol": "UDP"
        }
    ]
}