{
    "description": "20400",
    "name": "ulp",
    "networkIdentities": [
        {
            "ports": "522",
            "protocol": "UDP"
        },
        {
            "ports": "522",
            "protocol": "TCP"
        }
    ]
}