{
    "description": "20404",
    "name": "unify",
    "networkIdentities": [
        {
            "ports": "181",
            "protocol": "UDP"
        },
        {
            "ports": "181",
            "protocol": "TCP"
        }
    ]
}