{
    "description": "20408",
    "name": "ups",
    "networkIdentities": [
        {
            "ports": "401",
            "protocol": "TCP"
        },
        {
            "ports": "401",
            "protocol": "UDP"
        }
    ]
}