{
    "description": "20409",
    "name": "urm",
    "networkIdentities": [
        {
            "ports": "606",
            "protocol": "UDP"
        },
        {
            "ports": "606",
            "protocol": "TCP"
        }
    ]
}