{
    "description": "20415",
    "name": "utime",
    "networkIdentities": [
        {
            "ports": "519",
            "protocol": "TCP"
        },
        {
            "ports": "519",
            "protocol": "UDP"
        }
    ]
}