{
    "description": "20416",
    "name": "utmpcd",
    "networkIdentities": [
        {
            "ports": "431",
            "protocol": "UDP"
        },
        {
            "ports": "431",
            "protocol": "TCP"
        }
    ]
}