{
    "description": "20419",
    "name": "uucp-path",
    "networkIdentities": [
        {
            "ports": "117",
            "protocol": "TCP"
        },
        {
            "ports": "117",
            "protocol": "UDP"
        }
    ]
}