{
    "description": "20420",
    "name": "uucp-rlogin",
    "networkIdentities": [
        {
            "ports": "541",
            "protocol": "UDP"
        },
        {
            "ports": "541",
            "protocol": "TCP"
        }
    ]
}