{
    "description": "20418",
    "name": "uucp",
    "networkIdentities": [
        {
            "ports": "540",
            "protocol": "TCP"
        },
        {
            "ports": "540",
            "protocol": "UDP"
        }
    ]
}