{
    "description": "20422",
    "name": "vacdsm-app",
    "networkIdentities": [
        {
            "ports": "671",
            "protocol": "UDP"
        },
        {
            "ports": "671",
            "protocol": "TCP"
        }
    ]
}