{
    "description": "20423",
    "name": "vacdsm-sws",
    "networkIdentities": [
        {
            "ports": "670",
            "protocol": "TCP"
        },
        {
            "ports": "670",
            "protocol": "UDP"
        }
    ]
}