{
    "description": "20439",
    "name": "vmnet",
    "networkIdentities": [
        {
            "ports": "175",
            "protocol": "UDP"
        },
        {
            "ports": "175",
            "protocol": "TCP"
        }
    ]
}