{
    "description": "20440",
    "name": "vmpwscs",
    "networkIdentities": [
        {
            "ports": "214",
            "protocol": "TCP"
        },
        {
            "ports": "214",
            "protocol": "UDP"
        }
    ]
}