{
    "description": "20447",
    "name": "vnc",
    "networkIdentities": [
        {
            "ports": "5800,5900,5901",
            "protocol": "TCP"
        },
        {
            "ports": "5800,5900,5901",
            "protocol": "UDP"
        }
    ]
}