{
    "description": "20449",
    "name": "vpp",
    "networkIdentities": [
        {
            "ports": "677",
            "protocol": "TCP"
        },
        {
            "ports": "677",
            "protocol": "UDP"
        }
    ]
}