{
    "description": "20451",
    "name": "vpps-via",
    "networkIdentities": [
        {
            "ports": "676",
            "protocol": "UDP"
        },
        {
            "ports": "676",
            "protocol": "TCP"
        }
    ]
}