{
    "description": "20450",
    "name": "vpps-qua",
    "networkIdentities": [
        {
            "ports": "672",
            "protocol": "UDP"
        },
        {
            "ports": "672",
            "protocol": "TCP"
        }
    ]
}