{
    "description": "20454",
    "name": "vslmp",
    "networkIdentities": [
        {
            "ports": "312",
            "protocol": "TCP"
        },
        {
            "ports": "312",
            "protocol": "UDP"
        }
    ]
}