{
    "description": "20460",
    "name": "wap-pushsecure",
    "networkIdentities": [
        {
            "ports": "2949",
            "protocol": "TCP"
        },
        {
            "ports": "2949",
            "protocol": "UDP"
        }
    ]
}