{
    "description": "20464",
    "name": "wap-vcard-s",
    "networkIdentities": [
        {
            "ports": "9206",
            "protocol": "TCP"
        },
        {
            "ports": "9206",
            "protocol": "UDP"
        }
    ]
}