{
    "description": "20459",
    "name": "wap-push-https",
    "networkIdentities": [
        {
            "ports": "4036",
            "protocol": "UDP"
        },
        {
            "ports": "4036",
            "protocol": "TCP"
        }
    ]
}