{
    "description": "20463",
    "name": "wap-vcard",
    "networkIdentities": [
        {
            "ports": "9204",
            "protocol": "TCP"
        },
        {
            "ports": "9204",
            "protocol": "UDP"
        }
    ]
}