{
    "description": "20465",
    "name": "wap-wsp",
    "networkIdentities": [
        {
            "ports": "9200",
            "protocol": "UDP"
        },
        {
            "ports": "9200",
            "protocol": "TCP"
        }
    ]
}