{
    "description": "20462",
    "name": "wap-vcal-s",
    "networkIdentities": [
        {
            "ports": "9207",
            "protocol": "TCP"
        },
        {
            "ports": "9207",
            "protocol": "UDP"
        }
    ]
}