{
    "description": "20475",
    "name": "wccp",
    "networkIdentities": [
        {
            "ports": "2048",
            "protocol": "UDP"
        },
        {
            "ports": "2048",
            "protocol": "TCP"
        }
    ]
}