{
    "description": "20490",
    "name": "webster",
    "networkIdentities": [
        {
            "ports": "765",
            "protocol": "TCP"
        },
        {
            "ports": "765",
            "protocol": "UDP"
        }
    ]
}