{
    "description": "20498",
    "name": "whoami",
    "networkIdentities": [
        {
            "ports": "565",
            "protocol": "TCP"
        },
        {
            "ports": "565",
            "protocol": "UDP"
        }
    ]
}