{
    "description": "20511",
    "name": "worldfusion",
    "networkIdentities": [
        {
            "ports": "2595",
            "protocol": "UDP"
        },
        {
            "ports": "2595",
            "protocol": "TCP"
        }
    ]
}