{
    "description": "20513",
    "name": "wpgs",
    "networkIdentities": [
        {
            "ports": "780",
            "protocol": "UDP"
        },
        {
            "ports": "780",
            "protocol": "TCP"
        }
    ]
}