{
    "description": "20516",
    "name": "x-bone-ctl",
    "networkIdentities": [
        {
            "ports": "265",
            "protocol": "UDP"
        },
        {
            "ports": "265",
            "protocol": "TCP"
        }
    ]
}