{
    "description": "20520",
    "name": "xdmcp",
    "networkIdentities": [
        {
            "ports": "177",
            "protocol": "UDP"
        },
        {
            "ports": "177",
            "protocol": "TCP"
        }
    ]
}