{
    "description": "20521",
    "name": "xdtp",
    "networkIdentities": [
        {
            "ports": "3088",
            "protocol": "TCP"
        },
        {
            "ports": "3088",
            "protocol": "UDP"
        }
    ]
}