{
    "description": "20531",
    "name": "xns-mail",
    "networkIdentities": [
        {
            "ports": "58",
            "protocol": "TCP"
        },
        {
            "ports": "58",
            "protocol": "UDP"
        }
    ]
}