{
    "description": "20532",
    "name": "xns-time",
    "networkIdentities": [
        {
            "ports": "52",
            "protocol": "TCP"
        },
        {
            "ports": "52",
            "protocol": "UDP"
        }
    ]
}