{
    "description": "20527",
    "name": "xns-auth",
    "networkIdentities": [
        {
            "ports": "56",
            "protocol": "TCP"
        },
        {
            "ports": "56",
            "protocol": "UDP"
        }
    ]
}