{
    "description": "20529",
    "name": "xns-courier",
    "networkIdentities": [
        {
            "ports": "165",
            "protocol": "TCP"
        },
        {
            "ports": "165",
            "protocol": "UDP"
        }
    ]
}