{
    "description": "20536",
    "name": "xvttp",
    "networkIdentities": [
        {
            "ports": "508",
            "protocol": "TCP"
        },
        {
            "ports": "508",
            "protocol": "UDP"
        }
    ]
}