{
    "description": "20538",
    "name": "xyplex-mux",
    "networkIdentities": [
        {
            "ports": "173",
            "protocol": "TCP"
        },
        {
            "ports": "173",
            "protocol": "UDP"
        }
    ]
}