{
    "description": "20556",
    "name": "zoom-meetings",
    "networkIdentities": [
        {
            "ports": "8801,8802",
            "protocol": "UDP"
        },
        {
            "ports": "8801,8802",
            "protocol": "TCP"
        }
    ]
}