{
    "description": "20557",
    "name": "zserv",
    "networkIdentities": [
        {
            "ports": "346",
            "protocol": "TCP"
        },
        {
            "ports": "346",
            "protocol": "UDP"
        }
    ]
}