{
    "TacacsProfile": {
        "description": "Default Shell Profile",
        "name": "Default Shell Profile",
        "sessionAttributes": {
            "sessionAttributeList": []
        }
    }
}