{
    "TacacsProfile": {
        "description": "Deny All Shell Profile",
        "name": "Deny All Shell Profile",
        "sessionAttributes": {
            "sessionAttributeList": []
        }
    }
}