{
    "IdStoreSequence": {
        "breakOnStoreFail": false,
        "certificateAuthenticationProfile": "",
        "description": "A built-in Identity Sequence for the Sponsor Portal",
        "idSeqItem": [
            {
                "idstore": "Internal Users",
                "order": 1
            },
            {
                "idstore": "All_AD_Join_Points",
                "order": 2
            }
        ],
        "name": "Sponsor_Portal_Sequence"
    }
}