{
    "description": "5052",
    "name": "acap",
    "networkIdentities": [
        {
            "ports": "674",
            "protocol": "TCP"
        },
        {
            "ports": "674",
            "protocol": "UDP"
        }
    ]
}