{
    "description": "5053",
    "name": "acas",
    "networkIdentities": [
        {
            "ports": "62",
            "protocol": "UDP"
        },
        {
            "ports": "62",
            "protocol": "TCP"
        }
    ]
}