{
    "description": "5054",
    "name": "accessbuilder",
    "networkIdentities": [
        {
            "ports": "888",
            "protocol": "TCP"
        },
        {
            "ports": "888",
            "protocol": "UDP"
        }
    ]
}