{
    "description": "5072",
    "name": "aed-512",
    "networkIdentities": [
        {
            "ports": "149",
            "protocol": "TCP"
        },
        {
            "ports": "149",
            "protocol": "UDP"
        }
    ]
}