{
    "description": "5075",
    "name": "agentx",
    "networkIdentities": [
        {
            "ports": "705",
            "protocol": "TCP"
        },
        {
            "ports": "705",
            "protocol": "UDP"
        }
    ]
}