{
    "description": "5098",
    "name": "anet",
    "networkIdentities": [
        {
            "ports": "212",
            "protocol": "TCP"
        },
        {
            "ports": "212",
            "protocol": "UDP"
        }
    ]
}