{
    "description": "5100",
    "name": "ansatrader",
    "networkIdentities": [
        {
            "ports": "124",
            "protocol": "UDP"
        },
        {
            "ports": "124",
            "protocol": "TCP"
        }
    ]
}