{
    "description": "5125",
    "name": "applix",
    "networkIdentities": [
        {
            "ports": "999",
            "protocol": "TCP"
        },
        {
            "ports": "999",
            "protocol": "UDP"
        }
    ]
}