{
    "description": "5122",
    "name": "applejuice",
    "networkIdentities": [
        {
            "ports": "9022",
            "protocol": "TCP"
        },
        {
            "ports": "9022",
            "protocol": "UDP"
        }
    ]
}