{
    "description": "5126",
    "name": "arcisdms",
    "networkIdentities": [
        {
            "ports": "262",
            "protocol": "TCP"
        },
        {
            "ports": "262",
            "protocol": "UDP"
        }
    ]
}