{
    "description": "5129",
    "name": "ariel1",
    "networkIdentities": [
        {
            "ports": "419",
            "protocol": "UDP"
        },
        {
            "ports": "419",
            "protocol": "TCP"
        }
    ]
}