{
    "description": "5131",
    "name": "ariel3",
    "networkIdentities": [
        {
            "ports": "422",
            "protocol": "TCP"
        },
        {
            "ports": "422",
            "protocol": "UDP"
        }
    ]
}