{
    "description": "5133",
    "name": "arns",
    "networkIdentities": [
        {
            "ports": "384",
            "protocol": "UDP"
        },
        {
            "ports": "384",
            "protocol": "TCP"
        }
    ]
}