{
    "description": "5137",
    "name": "asa-appl-proto",
    "networkIdentities": [
        {
            "ports": "502",
            "protocol": "TCP"
        },
        {
            "ports": "502",
            "protocol": "UDP"
        }
    ]
}