{
    "description": "5136",
    "name": "asa",
    "networkIdentities": [
        {
            "ports": "386",
            "protocol": "UDP"
        },
        {
            "ports": "386",
            "protocol": "TCP"
        }
    ]
}