{
    "description": "5138",
    "name": "asip-webadmin",
    "networkIdentities": [
        {
            "ports": "311",
            "protocol": "UDP"
        },
        {
            "ports": "311",
            "protocol": "TCP"
        }
    ]
}