{
    "description": "5142",
    "name": "at-3",
    "networkIdentities": [
        {
            "ports": "203",
            "protocol": "UDP"
        },
        {
            "ports": "203",
            "protocol": "TCP"
        }
    ]
}