{
    "description": "5143",
    "name": "at-5",
    "networkIdentities": [
        {
            "ports": "205",
            "protocol": "TCP"
        },
        {
            "ports": "205",
            "protocol": "UDP"
        }
    ]
}