{
    "description": "5144",
    "name": "at-7",
    "networkIdentities": [
        {
            "ports": "207",
            "protocol": "UDP"
        },
        {
            "ports": "207",
            "protocol": "TCP"
        }
    ]
}