{
    "description": "5147",
    "name": "at-nbp",
    "networkIdentities": [
        {
            "ports": "202",
            "protocol": "TCP"
        },
        {
            "ports": "202",
            "protocol": "UDP"
        }
    ]
}