{
    "description": "5155",
    "name": "audit",
    "networkIdentities": [
        {
            "ports": "182",
            "protocol": "TCP"
        },
        {
            "ports": "182",
            "protocol": "UDP"
        }
    ]
}