{
    "description": "5158",
    "name": "aurp",
    "networkIdentities": [
        {
            "ports": "387",
            "protocol": "TCP"
        },
        {
            "ports": "387",
            "protocol": "UDP"
        }
    ]
}