{
    "description": "5167",
    "name": "ayiya-ipv6-tunneled",
    "networkIdentities": [
        {
            "ports": "5072",
            "protocol": "UDP"
        },
        {
            "ports": "5072",
            "protocol": "TCP"
        }
    ]
}