{
    "description": "5171",
    "name": "bacnet",
    "networkIdentities": [
        {
            "ports": "47808",
            "protocol": "TCP"
        },
        {
            "ports": "47808",
            "protocol": "UDP"
        }
    ]
}