{
    "description": "5178",
    "name": "banyan-vip",
    "networkIdentities": [
        {
            "ports": "573",
            "protocol": "TCP"
        },
        {
            "ports": "573",
            "protocol": "UDP"
        }
    ]
}