{
    "description": "5177",
    "name": "banyan-rpc",
    "networkIdentities": [
        {
            "ports": "567",
            "protocol": "UDP"
        },
        {
            "ports": "567",
            "protocol": "TCP"
        }
    ]
}