{
    "description": "5183",
    "name": "bdp",
    "networkIdentities": [
        {
            "ports": "581",
            "protocol": "TCP"
        },
        {
            "ports": "581",
            "protocol": "UDP"
        }
    ]
}