{
    "description": "5185",
    "name": "bgmp",
    "networkIdentities": [
        {
            "ports": "264",
            "protocol": "TCP"
        },
        {
            "ports": "264",
            "protocol": "UDP"
        }
    ]
}