{
    "description": "5188",
    "name": "bhevent",
    "networkIdentities": [
        {
            "ports": "357",
            "protocol": "UDP"
        },
        {
            "ports": "357",
            "protocol": "TCP"
        }
    ]
}