{
    "description": "5189",
    "name": "bhfhs",
    "networkIdentities": [
        {
            "ports": "248",
            "protocol": "TCP"
        },
        {
            "ports": "248",
            "protocol": "UDP"
        }
    ]
}