{
    "description": "5190",
    "name": "bhmds",
    "networkIdentities": [
        {
            "ports": "310",
            "protocol": "UDP"
        },
        {
            "ports": "310",
            "protocol": "TCP"
        }
    ]
}