{
    "description": "5219",
    "name": "cab-protocol",
    "networkIdentities": [
        {
            "ports": "595",
            "protocol": "TCP"
        },
        {
            "ports": "595",
            "protocol": "UDP"
        }
    ]
}