{
    "description": "5220",
    "name": "cableport-ax",
    "networkIdentities": [
        {
            "ports": "282",
            "protocol": "TCP"
        },
        {
            "ports": "282",
            "protocol": "UDP"
        }
    ]
}