{
    "description": "5046",
    "name": "CAIlic",
    "networkIdentities": [
        {
            "ports": "216",
            "protocol": "UDP"
        },
        {
            "ports": "216",
            "protocol": "TCP"
        }
    ]
}