{
    "description": "5223",
    "name": "call-of-duty",
    "networkIdentities": [
        {
            "ports": "20500",
            "protocol": "UDP"
        },
        {
            "ports": "20500,20510,28960",
            "protocol": "TCP"
        }
    ]
}