{
    "description": "5233",
    "name": "cddbp-alt",
    "networkIdentities": [
        {
            "ports": "8880",
            "protocol": "UDP"
        },
        {
            "ports": "8880",
            "protocol": "TCP"
        }
    ]
}