{
    "description": "5237",
    "name": "chargen",
    "networkIdentities": [
        {
            "ports": "19",
            "protocol": "TCP"
        },
        {
            "ports": "19",
            "protocol": "UDP"
        }
    ]
}