{
    "description": "5240",
    "name": "chshell",
    "networkIdentities": [
        {
            "ports": "562",
            "protocol": "UDP"
        },
        {
            "ports": "562",
            "protocol": "TCP"
        }
    ]
}