{
    "description": "5242",
    "name": "cimplex",
    "networkIdentities": [
        {
            "ports": "673",
            "protocol": "UDP"
        },
        {
            "ports": "673",
            "protocol": "TCP"
        }
    ]
}