{
    "description": "5291",
    "name": "citrix-static",
    "networkIdentities": [
        {
            "ports": "1604,2512,2513",
            "protocol": "UDP"
        },
        {
            "ports": "1494,1604,2512,2513,2598",
            "protocol": "TCP"
        }
    ]
}