{
    "description": "5297",
    "name": "cmip-man",
    "networkIdentities": [
        {
            "ports": "163",
            "protocol": "TCP"
        },
        {
            "ports": "163",
            "protocol": "UDP"
        }
    ]
}