{
    "description": "5303",
    "name": "codaauth2",
    "networkIdentities": [
        {
            "ports": "370",
            "protocol": "TCP"
        },
        {
            "ports": "370",
            "protocol": "UDP"
        }
    ]
}