{
    "description": "5305",
    "name": "commerce",
    "networkIdentities": [
        {
            "ports": "542",
            "protocol": "TCP"
        },
        {
            "ports": "542",
            "protocol": "UDP"
        }
    ]
}