{
    "description": "5309",
    "name": "con",
    "networkIdentities": [
        {
            "ports": "759",
            "protocol": "TCP"
        },
        {
            "ports": "759",
            "protocol": "UDP"
        }
    ]
}