{
    "description": "5316",
    "name": "connendp",
    "networkIdentities": [
        {
            "ports": "693",
            "protocol": "TCP"
        },
        {
            "ports": "693",
            "protocol": "UDP"
        }
    ]
}