{
    "description": "5319",
    "name": "contentserver",
    "networkIdentities": [
        {
            "ports": "3365",
            "protocol": "UDP"
        },
        {
            "ports": "3365",
            "protocol": "TCP"
        }
    ]
}