{
    "description": "5321",
    "name": "corba-iiop",
    "networkIdentities": [
        {
            "ports": "683",
            "protocol": "UDP"
        },
        {
            "ports": "683",
            "protocol": "TCP"
        }
    ]
}