{
    "description": "5322",
    "name": "corba-iiop-ssl",
    "networkIdentities": [
        {
            "ports": "684",
            "protocol": "TCP"
        },
        {
            "ports": "684",
            "protocol": "UDP"
        }
    ]
}