{
    "description": "5323",
    "name": "corerjd",
    "networkIdentities": [
        {
            "ports": "284",
            "protocol": "TCP"
        },
        {
            "ports": "284",
            "protocol": "UDP"
        }
    ]
}