{
    "description": "5334",
    "name": "creativeserver",
    "networkIdentities": [
        {
            "ports": "453",
            "protocol": "TCP"
        },
        {
            "ports": "453",
            "protocol": "UDP"
        }
    ]
}