{
    "description": "5335",
    "name": "crs",
    "networkIdentities": [
        {
            "ports": "507",
            "protocol": "UDP"
        },
        {
            "ports": "507",
            "protocol": "TCP"
        }
    ]
}