{
    "description": "5343",
    "name": "cuseeme",
    "networkIdentities": [
        {
            "ports": "7648,7649",
            "protocol": "TCP"
        },
        {
            "ports": "7648,7649,24032",
            "protocol": "UDP"
        }
    ]
}