{
    "description": "5345",
    "name": "cvc_hostd",
    "networkIdentities": [
        {
            "ports": "442",
            "protocol": "UDP"
        },
        {
            "ports": "442",
            "protocol": "TCP"
        }
    ]
}