{
    "description": "5346",
    "name": "cvspserver",
    "networkIdentities": [
        {
            "ports": "2401",
            "protocol": "TCP"
        },
        {
            "ports": "2401",
            "protocol": "UDP"
        }
    ]
}