{
    "description": "5347",
    "name": "cvsup",
    "networkIdentities": [
        {
            "ports": "5999",
            "protocol": "UDP"
        },
        {
            "ports": "5999",
            "protocol": "TCP"
        }
    ]
}