{
    "description": "5348",
    "name": "cybercash",
    "networkIdentities": [
        {
            "ports": "551",
            "protocol": "UDP"
        },
        {
            "ports": "551",
            "protocol": "TCP"
        }
    ]
}