{
    "description": "5355",
    "name": "dasp",
    "networkIdentities": [
        {
            "ports": "439",
            "protocol": "TCP"
        },
        {
            "ports": "439",
            "protocol": "UDP"
        }
    ]
}