{
    "description": "5363",
    "name": "dbase",
    "networkIdentities": [
        {
            "ports": "217",
            "protocol": "UDP"
        },
        {
            "ports": "217",
            "protocol": "TCP"
        }
    ]
}