{
    "description": "5370",
    "name": "ddm-rdb",
    "networkIdentities": [
        {
            "ports": "446",
            "protocol": "UDP"
        },
        {
            "ports": "446",
            "protocol": "TCP"
        }
    ]
}