{
    "description": "5374",
    "name": "dec_dlm",
    "networkIdentities": [
        {
            "ports": "625",
            "protocol": "UDP"
        },
        {
            "ports": "625",
            "protocol": "TCP"
        }
    ]
}