{
    "description": "5375",
    "name": "decap",
    "networkIdentities": [
        {
            "ports": "403",
            "protocol": "TCP"
        },
        {
            "ports": "403",
            "protocol": "UDP"
        }
    ]
}