{
    "description": "5377",
    "name": "decbsrv",
    "networkIdentities": [
        {
            "ports": "579",
            "protocol": "TCP"
        },
        {
            "ports": "579",
            "protocol": "UDP"
        }
    ]
}