{
    "description": "5378",
    "name": "decladebug",
    "networkIdentities": [
        {
            "ports": "410",
            "protocol": "UDP"
        },
        {
            "ports": "410",
            "protocol": "TCP"
        }
    ]
}