{
    "description": "5379",
    "name": "decvms-sysmgt",
    "networkIdentities": [
        {
            "ports": "441",
            "protocol": "TCP"
        },
        {
            "ports": "441",
            "protocol": "UDP"
        }
    ]
}