{
    "description": "5380",
    "name": "dei-icda",
    "networkIdentities": [
        {
            "ports": "618",
            "protocol": "TCP"
        },
        {
            "ports": "618",
            "protocol": "UDP"
        }
    ]
}