{
    "description": "5382",
    "name": "deos",
    "networkIdentities": [
        {
            "ports": "76",
            "protocol": "TCP"
        },
        {
            "ports": "76",
            "protocol": "UDP"
        }
    ]
}