{
    "description": "5394",
    "name": "digital-vrc",
    "networkIdentities": [
        {
            "ports": "466",
            "protocol": "TCP"
        },
        {
            "ports": "466",
            "protocol": "UDP"
        }
    ]
}