{
    "description": "5403",
    "name": "disclose",
    "networkIdentities": [
        {
            "ports": "667",
            "protocol": "TCP"
        },
        {
            "ports": "667",
            "protocol": "UDP"
        }
    ]
}