{
    "description": "5407",
    "name": "dixie",
    "networkIdentities": [
        {
            "ports": "96",
            "protocol": "TCP"
        },
        {
            "ports": "96",
            "protocol": "UDP"
        }
    ]
}