{
    "description": "5409",
    "name": "dls-mon",
    "networkIdentities": [
        {
            "ports": "198",
            "protocol": "UDP"
        },
        {
            "ports": "198",
            "protocol": "TCP"
        }
    ]
}