{
    "description": "5412",
    "name": "dna-cml",
    "networkIdentities": [
        {
            "ports": "436",
            "protocol": "UDP"
        },
        {
            "ports": "436",
            "protocol": "TCP"
        }
    ]
}