{
    "description": "5418",
    "name": "dpsi",
    "networkIdentities": [
        {
            "ports": "315",
            "protocol": "TCP"
        },
        {
            "ports": "315",
            "protocol": "UDP"
        }
    ]
}