{
    "description": "5421",
    "name": "dsfgw",
    "networkIdentities": [
        {
            "ports": "438",
            "protocol": "UDP"
        },
        {
            "ports": "438",
            "protocol": "TCP"
        }
    ]
}