{
    "description": "5422",
    "name": "dsp",
    "networkIdentities": [
        {
            "ports": "33",
            "protocol": "TCP"
        },
        {
            "ports": "33",
            "protocol": "UDP"
        }
    ]
}