{
    "description": "5425",
    "name": "dtag-ste-sb",
    "networkIdentities": [
        {
            "ports": "352",
            "protocol": "UDP"
        },
        {
            "ports": "352",
            "protocol": "TCP"
        }
    ]
}