{
    "description": "5426",
    "name": "dtk",
    "networkIdentities": [
        {
            "ports": "365",
            "protocol": "TCP"
        },
        {
            "ports": "365",
            "protocol": "UDP"
        }
    ]
}