{
    "description": "5428",
    "name": "dwr",
    "networkIdentities": [
        {
            "ports": "644",
            "protocol": "TCP"
        },
        {
            "ports": "644",
            "protocol": "UDP"
        }
    ]
}