{
    "description": "5431",
    "name": "echo",
    "networkIdentities": [
        {
            "ports": "7",
            "protocol": "TCP"
        },
        {
            "ports": "7",
            "protocol": "UDP"
        }
    ]
}