{
    "description": "5440",
    "name": "emfis-cntl",
    "networkIdentities": [
        {
            "ports": "141",
            "protocol": "TCP"
        },
        {
            "ports": "141",
            "protocol": "UDP"
        }
    ]
}