{
    "description": "5441",
    "name": "emfis-data",
    "networkIdentities": [
        {
            "ports": "140",
            "protocol": "UDP"
        },
        {
            "ports": "140",
            "protocol": "TCP"
        }
    ]
}