{
    "description": "5447",
    "name": "entomb",
    "networkIdentities": [
        {
            "ports": "775",
            "protocol": "TCP"
        },
        {
            "ports": "775",
            "protocol": "UDP"
        }
    ]
}