{
    "description": "5448",
    "name": "entrust-aaas",
    "networkIdentities": [
        {
            "ports": "680",
            "protocol": "UDP"
        },
        {
            "ports": "680",
            "protocol": "TCP"
        }
    ]
}