{
    "description": "5452",
    "name": "entrust-sps",
    "networkIdentities": [
        {
            "ports": "640",
            "protocol": "TCP"
        },
        {
            "ports": "640",
            "protocol": "UDP"
        }
    ]
}