{
    "description": "5451",
    "name": "entrust-kmsh",
    "networkIdentities": [
        {
            "ports": "709",
            "protocol": "TCP"
        },
        {
            "ports": "709",
            "protocol": "UDP"
        }
    ]
}