{
    "description": "5453",
    "name": "epmap",
    "networkIdentities": [
        {
            "ports": "135",
            "protocol": "UDP"
        },
        {
            "ports": "135",
            "protocol": "TCP"
        }
    ]
}