{
    "description": "5454",
    "name": "erpc",
    "networkIdentities": [
        {
            "ports": "121",
            "protocol": "TCP"
        },
        {
            "ports": "121",
            "protocol": "UDP"
        }
    ]
}