{
    "description": "5460",
    "name": "esro-gen",
    "networkIdentities": [
        {
            "ports": "259",
            "protocol": "TCP"
        },
        {
            "ports": "259",
            "protocol": "UDP"
        }
    ]
}