{
    "description": "5459",
    "name": "esro-emsdp",
    "networkIdentities": [
        {
            "ports": "642",
            "protocol": "UDP"
        },
        {
            "ports": "642",
            "protocol": "TCP"
        }
    ]
}