{
    "description": "5479",
    "name": "fcp",
    "networkIdentities": [
        {
            "ports": "510",
            "protocol": "TCP"
        },
        {
            "ports": "510",
            "protocol": "UDP"
        }
    ]
}