{
    "description": "5491",
    "name": "flexlm",
    "networkIdentities": [
        {
            "ports": "744",
            "protocol": "TCP"
        },
        {
            "ports": "744",
            "protocol": "UDP"
        }
    ]
}