{
    "description": "5493",
    "name": "fln-spx",
    "networkIdentities": [
        {
            "ports": "221",
            "protocol": "UDP"
        },
        {
            "ports": "221",
            "protocol": "TCP"
        }
    ]
}