{
    "description": "5503",
    "name": "ftp-data",
    "networkIdentities": [
        {
            "ports": "20",
            "protocol": "TCP"
        },
        {
            "ports": "20",
            "protocol": "UDP"
        }
    ]
}