{
    "description": "5504",
    "name": "ftps-data",
    "networkIdentities": [
        {
            "ports": "989",
            "protocol": "UDP"
        },
        {
            "ports": "989",
            "protocol": "TCP"
        }
    ]
}