{
    "description": "5506",
    "name": "gacp",
    "networkIdentities": [
        {
            "ports": "190",
            "protocol": "TCP"
        },
        {
            "ports": "190",
            "protocol": "UDP"
        }
    ]
}