{
    "description": "5507",
    "name": "game-spy",
    "networkIdentities": [
        {
            "ports": "6500,28900",
            "protocol": "TCP"
        },
        {
            "ports": "6515,27900",
            "protocol": "UDP"
        }
    ]
}