{
    "description": "5510",
    "name": "gds_db",
    "networkIdentities": [
        {
            "ports": "3050",
            "protocol": "TCP"
        },
        {
            "ports": "3050",
            "protocol": "UDP"
        }
    ]
}