{
    "description": "5512",
    "name": "genrad-mux",
    "networkIdentities": [
        {
            "ports": "176",
            "protocol": "TCP"
        },
        {
            "ports": "176",
            "protocol": "UDP"
        }
    ]
}