{
    "description": "5525",
    "name": "goboogy",
    "networkIdentities": [
        {
            "ports": "5325",
            "protocol": "TCP"
        },
        {
            "ports": "5325",
            "protocol": "UDP"
        }
    ]
}