{
    "description": "5543",
    "name": "graphics",
    "networkIdentities": [
        {
            "ports": "41",
            "protocol": "TCP"
        },
        {
            "ports": "41",
            "protocol": "UDP"
        }
    ]
}