{
    "description": "5547",
    "name": "groove",
    "networkIdentities": [
        {
            "ports": "2492",
            "protocol": "TCP"
        },
        {
            "ports": "2492",
            "protocol": "UDP"
        }
    ]
}