{
    "description": "5548",
    "name": "groupwise",
    "networkIdentities": [
        {
            "ports": "1677",
            "protocol": "UDP"
        },
        {
            "ports": "1677",
            "protocol": "TCP"
        }
    ]
}