{
    "description": "5549",
    "name": "gsiftp",
    "networkIdentities": [
        {
            "ports": "2811",
            "protocol": "UDP"
        },
        {
            "ports": "2811",
            "protocol": "TCP"
        }
    ]
}