{
    "description": "5551",
    "name": "gss-xlicen",
    "networkIdentities": [
        {
            "ports": "128",
            "protocol": "UDP"
        },
        {
            "ports": "128",
            "protocol": "TCP"
        }
    ]
}