{
    "description": "5571",
    "name": "hap",
    "networkIdentities": [
        {
            "ports": "661",
            "protocol": "TCP"
        },
        {
            "ports": "661",
            "protocol": "UDP"
        }
    ]
}