{
    "description": "5573",
    "name": "hcp-wismar",
    "networkIdentities": [
        {
            "ports": "686",
            "protocol": "TCP"
        },
        {
            "ports": "686",
            "protocol": "UDP"
        }
    ]
}