{
    "description": "5574",
    "name": "hdap",
    "networkIdentities": [
        {
            "ports": "263",
            "protocol": "UDP"
        },
        {
            "ports": "263",
            "protocol": "TCP"
        }
    ]
}