{
    "description": "5575",
    "name": "hello-port",
    "networkIdentities": [
        {
            "ports": "652",
            "protocol": "UDP"
        },
        {
            "ports": "652",
            "protocol": "TCP"
        }
    ]
}