{
    "description": "5576",
    "name": "hems",
    "networkIdentities": [
        {
            "ports": "151",
            "protocol": "TCP"
        },
        {
            "ports": "151",
            "protocol": "UDP"
        }
    ]
}