{
    "description": "5581",
    "name": "hmmp-ind",
    "networkIdentities": [
        {
            "ports": "612",
            "protocol": "TCP"
        },
        {
            "ports": "612",
            "protocol": "UDP"
        }
    ]
}