{
    "description": "5592",
    "name": "hp-collector",
    "networkIdentities": [
        {
            "ports": "381",
            "protocol": "TCP"
        },
        {
            "ports": "381",
            "protocol": "UDP"
        }
    ]
}