{
    "description": "5593",
    "name": "hp-managed-node",
    "networkIdentities": [
        {
            "ports": "382",
            "protocol": "TCP"
        },
        {
            "ports": "382",
            "protocol": "UDP"
        }
    ]
}