{
    "description": "5600",
    "name": "http-mgmt",
    "networkIdentities": [
        {
            "ports": "280",
            "protocol": "UDP"
        },
        {
            "ports": "280",
            "protocol": "TCP"
        }
    ]
}