{
    "description": "5602",
    "name": "https",
    "networkIdentities": [
        {
            "ports": "443",
            "protocol": "TCP"
        },
        {
            "ports": "443",
            "protocol": "UDP"
        }
    ]
}