{
    "description": "5606",
    "name": "hybrid-pop",
    "networkIdentities": [
        {
            "ports": "473",
            "protocol": "UDP"
        },
        {
            "ports": "473",
            "protocol": "TCP"
        }
    ]
}