{
    "description": "5608",
    "name": "hyperwave-isp",
    "networkIdentities": [
        {
            "ports": "692",
            "protocol": "TCP"
        },
        {
            "ports": "692",
            "protocol": "UDP"
        }
    ]
}