{
    "description": "5607",
    "name": "hyper-g",
    "networkIdentities": [
        {
            "ports": "418",
            "protocol": "TCP"
        },
        {
            "ports": "418",
            "protocol": "UDP"
        }
    ]
}