{
    "description": "5610",
    "name": "iafdbase",
    "networkIdentities": [
        {
            "ports": "480",
            "protocol": "TCP"
        },
        {
            "ports": "480",
            "protocol": "UDP"
        }
    ]
}