{
    "description": "5616",
    "name": "ibm-db2",
    "networkIdentities": [
        {
            "ports": "523",
            "protocol": "TCP"
        },
        {
            "ports": "523",
            "protocol": "UDP"
        }
    ]
}