{
    "description": "5615",
    "name": "ibm-app",
    "networkIdentities": [
        {
            "ports": "385",
            "protocol": "TCP"
        },
        {
            "ports": "385",
            "protocol": "UDP"
        }
    ]
}