{
    "description": "5618",
    "name": "ibprotocol",
    "networkIdentities": [
        {
            "ports": "6714",
            "protocol": "TCP"
        },
        {
            "ports": "6714",
            "protocol": "UDP"
        }
    ]
}