{
    "description": "5620",
    "name": "iclcnet_svinfo",
    "networkIdentities": [
        {
            "ports": "887",
            "protocol": "UDP"
        },
        {
            "ports": "887",
            "protocol": "TCP"
        }
    ]
}