{
    "description": "5629",
    "name": "ieee-mms",
    "networkIdentities": [
        {
            "ports": "651",
            "protocol": "TCP"
        },
        {
            "ports": "651",
            "protocol": "UDP"
        }
    ]
}