{
    "description": "5634",
    "name": "iiop",
    "networkIdentities": [
        {
            "ports": "535",
            "protocol": "UDP"
        },
        {
            "ports": "535",
            "protocol": "TCP"
        }
    ]
}