{
    "description": "5640",
    "name": "inbusiness",
    "networkIdentities": [
        {
            "ports": "244",
            "protocol": "TCP"
        },
        {
            "ports": "244",
            "protocol": "UDP"
        }
    ]
}