{
    "description": "5645",
    "name": "infoseek",
    "networkIdentities": [
        {
            "ports": "414",
            "protocol": "UDP"
        },
        {
            "ports": "414",
            "protocol": "TCP"
        }
    ]
}