{
    "description": "5647",
    "name": "ingres-net",
    "networkIdentities": [
        {
            "ports": "134",
            "protocol": "UDP"
        },
        {
            "ports": "134",
            "protocol": "TCP"
        }
    ]
}