{
    "description": "5652",
    "name": "integra-sme",
    "networkIdentities": [
        {
            "ports": "484",
            "protocol": "TCP"
        },
        {
            "ports": "484",
            "protocol": "UDP"
        }
    ]
}