{
    "description": "5655",
    "name": "intrinsa",
    "networkIdentities": [
        {
            "ports": "503",
            "protocol": "UDP"
        },
        {
            "ports": "503",
            "protocol": "TCP"
        }
    ]
}