{
    "description": "5660",
    "name": "ipcd",
    "networkIdentities": [
        {
            "ports": "576",
            "protocol": "UDP"
        },
        {
            "ports": "576",
            "protocol": "TCP"
        }
    ]
}