{
    "description": "5662",
    "name": "ipcserver",
    "networkIdentities": [
        {
            "ports": "600",
            "protocol": "UDP"
        },
        {
            "ports": "600",
            "protocol": "TCP"
        }
    ]
}