{
    "description": "5680",
    "name": "irc",
    "networkIdentities": [
        {
            "ports": "194",
            "protocol": "UDP"
        },
        {
            "ports": "194",
            "protocol": "TCP"
        }
    ]
}