{
    "description": "5683",
    "name": "is99c",
    "networkIdentities": [
        {
            "ports": "379",
            "protocol": "TCP"
        },
        {
            "ports": "379",
            "protocol": "UDP"
        }
    ]
}