{
    "description": "5685",
    "name": "isakmp",
    "networkIdentities": [
        {
            "ports": "500,4500",
            "protocol": "UDP"
        },
        {
            "ports": "500",
            "protocol": "TCP"
        }
    ]
}