{
    "description": "5689",
    "name": "isi-gl",
    "networkIdentities": [
        {
            "ports": "55",
            "protocol": "TCP"
        },
        {
            "ports": "55",
            "protocol": "UDP"
        }
    ]
}