{
    "description": "5695",
    "name": "iso-tsap",
    "networkIdentities": [
        {
            "ports": "102",
            "protocol": "UDP"
        },
        {
            "ports": "102",
            "protocol": "TCP"
        }
    ]
}