{
    "description": "5691",
    "name": "iso-ill",
    "networkIdentities": [
        {
            "ports": "499",
            "protocol": "UDP"
        },
        {
            "ports": "499",
            "protocol": "TCP"
        }
    ]
}