{
    "description": "5696",
    "name": "iso-tsap-c2",
    "networkIdentities": [
        {
            "ports": "399",
            "protocol": "UDP"
        },
        {
            "ports": "399",
            "protocol": "TCP"
        }
    ]
}