{
    "description": "5692",
    "name": "iso-ip",
    "networkIdentities": [
        {
            "ports": "147",
            "protocol": "TCP"
        },
        {
            "ports": "147",
            "protocol": "UDP"
        }
    ]
}