{
    "description": "5715",
    "name": "kali",
    "networkIdentities": [
        {
            "ports": "2213",
            "protocol": "UDP"
        },
        {
            "ports": "2213",
            "protocol": "TCP"
        }
    ]
}