{
    "description": "5719",
    "name": "kerberos-adm",
    "networkIdentities": [
        {
            "ports": "749",
            "protocol": "UDP"
        },
        {
            "ports": "749",
            "protocol": "TCP"
        }
    ]
}