{
    "description": "5048",
    "name": "Konspire2b",
    "networkIdentities": [
        {
            "ports": "6085",
            "protocol": "TCP"
        },
        {
            "ports": "6085",
            "protocol": "UDP"
        }
    ]
}