{
    "description": "5727",
    "name": "kryptolan",
    "networkIdentities": [
        {
            "ports": "398",
            "protocol": "UDP"
        },
        {
            "ports": "398",
            "protocol": "TCP"
        }
    ]
}