{
    "description": "5728",
    "name": "kshell",
    "networkIdentities": [
        {
            "ports": "544",
            "protocol": "UDP"
        },
        {
            "ports": "544",
            "protocol": "TCP"
        }
    ]
}