{
    "description": "5731",
    "name": "la-maint",
    "networkIdentities": [
        {
            "ports": "51",
            "protocol": "UDP"
        },
        {
            "ports": "51",
            "protocol": "TCP"
        }
    ]
}