{
    "description": "5751",
    "name": "locus-con",
    "networkIdentities": [
        {
            "ports": "127",
            "protocol": "TCP"
        },
        {
            "ports": "127",
            "protocol": "UDP"
        }
    ]
}