{
    "description": "5752",
    "name": "locus-map",
    "networkIdentities": [
        {
            "ports": "125",
            "protocol": "TCP"
        },
        {
            "ports": "125",
            "protocol": "UDP"
        }
    ]
}