{
    "description": "5756",
    "name": "lotus-notes",
    "networkIdentities": [
        {
            "ports": "1352",
            "protocol": "TCP"
        },
        {
            "ports": "1352",
            "protocol": "UDP"
        }
    ]
}