{
    "description": "5765",
    "name": "mailq",
    "networkIdentities": [
        {
            "ports": "174",
            "protocol": "TCP"
        },
        {
            "ports": "174",
            "protocol": "UDP"
        }
    ]
}