{
    "description": "5766",
    "name": "maitrd",
    "networkIdentities": [
        {
            "ports": "997",
            "protocol": "TCP"
        },
        {
            "ports": "997",
            "protocol": "UDP"
        }
    ]
}