{
    "description": "5775",
    "name": "matip-type-b",
    "networkIdentities": [
        {
            "ports": "351",
            "protocol": "UDP"
        },
        {
            "ports": "351",
            "protocol": "TCP"
        }
    ]
}