{
    "description": "5781",
    "name": "mdc-portmapper",
    "networkIdentities": [
        {
            "ports": "685",
            "protocol": "UDP"
        },
        {
            "ports": "685",
            "protocol": "TCP"
        }
    ]
}