{
    "description": "5783",
    "name": "mecomm",
    "networkIdentities": [
        {
            "ports": "668",
            "protocol": "UDP"
        },
        {
            "ports": "668",
            "protocol": "TCP"
        }
    ]
}