{
    "description": "5785",
    "name": "meregister",
    "networkIdentities": [
        {
            "ports": "669",
            "protocol": "TCP"
        },
        {
            "ports": "669",
            "protocol": "UDP"
        }
    ]
}