{
    "description": "5787",
    "name": "meta5",
    "networkIdentities": [
        {
            "ports": "393",
            "protocol": "UDP"
        },
        {
            "ports": "393",
            "protocol": "TCP"
        }
    ]
}