{
    "description": "5790",
    "name": "mfcobol",
    "networkIdentities": [
        {
            "ports": "86",
            "protocol": "TCP"
        },
        {
            "ports": "86",
            "protocol": "UDP"
        }
    ]
}