{
    "description": "5793",
    "name": "mgcp",
    "networkIdentities": [
        {
            "ports": "2427,2428,2727",
            "protocol": "TCP"
        },
        {
            "ports": "2427,2727",
            "protocol": "UDP"
        }
    ]
}