{
    "description": "5794",
    "name": "micom-pfs",
    "networkIdentities": [
        {
            "ports": "490",
            "protocol": "UDP"
        },
        {
            "ports": "490",
            "protocol": "TCP"
        }
    ]
}