{
    "description": "5797",
    "name": "microsoftds",
    "networkIdentities": [
        {
            "ports": "445",
            "protocol": "TCP"
        },
        {
            "ports": "445",
            "protocol": "UDP"
        }
    ]
}