{
    "description": "5802",
    "name": "mit-ml-dev",
    "networkIdentities": [
        {
            "ports": "83",
            "protocol": "UDP"
        },
        {
            "ports": "83",
            "protocol": "TCP"
        }
    ]
}