{
    "description": "5807",
    "name": "mobilip-mn",
    "networkIdentities": [
        {
            "ports": "435",
            "protocol": "UDP"
        },
        {
            "ports": "435",
            "protocol": "TCP"
        }
    ]
}