{
    "description": "5809",
    "name": "mondex",
    "networkIdentities": [
        {
            "ports": "471",
            "protocol": "TCP"
        },
        {
            "ports": "471",
            "protocol": "UDP"
        }
    ]
}