{
    "description": "5813",
    "name": "mortgageware",
    "networkIdentities": [
        {
            "ports": "367",
            "protocol": "TCP"
        },
        {
            "ports": "367",
            "protocol": "UDP"
        }
    ]
}