{
    "description": "5817",
    "name": "mpm-flags",
    "networkIdentities": [
        {
            "ports": "44",
            "protocol": "UDP"
        },
        {
            "ports": "44",
            "protocol": "TCP"
        }
    ]
}