{
    "description": "5819",
    "name": "mpp",
    "networkIdentities": [
        {
            "ports": "218",
            "protocol": "UDP"
        },
        {
            "ports": "218",
            "protocol": "TCP"
        }
    ]
}