{
    "description": "5843",
    "name": "ms-streaming",
    "networkIdentities": [
        {
            "ports": "1755",
            "protocol": "UDP"
        },
        {
            "ports": "1755",
            "protocol": "TCP"
        }
    ]
}