{
    "description": "5852",
    "name": "msdp",
    "networkIdentities": [
        {
            "ports": "639",
            "protocol": "TCP"
        },
        {
            "ports": "639",
            "protocol": "UDP"
        }
    ]
}