{
    "description": "5853",
    "name": "msexch-routing",
    "networkIdentities": [
        {
            "ports": "691",
            "protocol": "UDP"
        },
        {
            "ports": "691",
            "protocol": "TCP"
        }
    ]
}