{
    "description": "5855",
    "name": "msft-gc-ssl",
    "networkIdentities": [
        {
            "ports": "3269",
            "protocol": "UDP"
        },
        {
            "ports": "3269",
            "protocol": "TCP"
        }
    ]
}