{
    "description": "5856",
    "name": "msg-auth",
    "networkIdentities": [
        {
            "ports": "31",
            "protocol": "TCP"
        },
        {
            "ports": "31",
            "protocol": "UDP"
        }
    ]
}