{
    "description": "5857",
    "name": "msg-icp",
    "networkIdentities": [
        {
            "ports": "29",
            "protocol": "UDP"
        },
        {
            "ports": "29",
            "protocol": "TCP"
        }
    ]
}