{
    "description": "5865",
    "name": "multiling-http",
    "networkIdentities": [
        {
            "ports": "777",
            "protocol": "UDP"
        },
        {
            "ports": "777",
            "protocol": "TCP"
        }
    ]
}