{
    "description": "5873",
    "name": "namp",
    "networkIdentities": [
        {
            "ports": "167",
            "protocol": "UDP"
        },
        {
            "ports": "167",
            "protocol": "TCP"
        }
    ]
}