{
    "description": "5881",
    "name": "nced",
    "networkIdentities": [
        {
            "ports": "404",
            "protocol": "TCP"
        },
        {
            "ports": "404",
            "protocol": "UDP"
        }
    ]
}