{
    "description": "5882",
    "name": "ncld",
    "networkIdentities": [
        {
            "ports": "405",
            "protocol": "UDP"
        },
        {
            "ports": "405",
            "protocol": "TCP"
        }
    ]
}