{
    "description": "5883",
    "name": "ncp",
    "networkIdentities": [
        {
            "ports": "524",
            "protocol": "TCP"
        },
        {
            "ports": "524",
            "protocol": "UDP"
        }
    ]
}