{
    "description": "5884",
    "name": "ncube-lm",
    "networkIdentities": [
        {
            "ports": "1521",
            "protocol": "UDP"
        },
        {
            "ports": "1521",
            "protocol": "TCP"
        }
    ]
}