{
    "description": "5886",
    "name": "ndsauth",
    "networkIdentities": [
        {
            "ports": "353",
            "protocol": "TCP"
        },
        {
            "ports": "353",
            "protocol": "UDP"
        }
    ]
}