{
    "description": "5887",
    "name": "nest-protocol",
    "networkIdentities": [
        {
            "ports": "489",
            "protocol": "TCP"
        },
        {
            "ports": "489",
            "protocol": "UDP"
        }
    ]
}