{
    "description": "5889",
    "name": "net8-cman",
    "networkIdentities": [
        {
            "ports": "1830",
            "protocol": "UDP"
        },
        {
            "ports": "1830",
            "protocol": "TCP"
        }
    ]
}