{
    "description": "5894",
    "name": "netbios-ssn",
    "networkIdentities": [
        {
            "ports": "139",
            "protocol": "UDP"
        },
        {
            "ports": "139",
            "protocol": "TCP"
        }
    ]
}