{
    "description": "5899",
    "name": "netnews",
    "networkIdentities": [
        {
            "ports": "532",
            "protocol": "TCP"
        },
        {
            "ports": "532",
            "protocol": "UDP"
        }
    ]
}