{
    "description": "5905",
    "name": "netrjs-4",
    "networkIdentities": [
        {
            "ports": "74",
            "protocol": "UDP"
        },
        {
            "ports": "74",
            "protocol": "TCP"
        }
    ]
}