{
    "description": "5902",
    "name": "netrjs-1",
    "networkIdentities": [
        {
            "ports": "71",
            "protocol": "TCP"
        },
        {
            "ports": "71",
            "protocol": "UDP"
        }
    ]
}