{
    "description": "5906",
    "name": "netsc-dev",
    "networkIdentities": [
        {
            "ports": "155",
            "protocol": "TCP"
        },
        {
            "ports": "155",
            "protocol": "UDP"
        }
    ]
}