{
    "description": "5910",
    "name": "netviewdm1",
    "networkIdentities": [
        {
            "ports": "729",
            "protocol": "UDP"
        },
        {
            "ports": "729",
            "protocol": "TCP"
        }
    ]
}