{
    "description": "5917",
    "name": "new-rwho",
    "networkIdentities": [
        {
            "ports": "550",
            "protocol": "TCP"
        },
        {
            "ports": "550",
            "protocol": "UDP"
        }
    ]
}