{
    "description": "5918",
    "name": "nextstep",
    "networkIdentities": [
        {
            "ports": "178",
            "protocol": "UDP"
        },
        {
            "ports": "178",
            "protocol": "TCP"
        }
    ]
}