{
    "description": "5921",
    "name": "ni-ftp",
    "networkIdentities": [
        {
            "ports": "47",
            "protocol": "UDP"
        },
        {
            "ports": "47",
            "protocol": "TCP"
        }
    ]
}