{
    "description": "5923",
    "name": "nicname",
    "networkIdentities": [
        {
            "ports": "43",
            "protocol": "UDP"
        },
        {
            "ports": "43",
            "protocol": "TCP"
        }
    ]
}