{
    "description": "5926",
    "name": "nlogin",
    "networkIdentities": [
        {
            "ports": "758",
            "protocol": "UDP"
        },
        {
            "ports": "758",
            "protocol": "TCP"
        }
    ]
}