{
    "description": "5927",
    "name": "nmap",
    "networkIdentities": [
        {
            "ports": "689",
            "protocol": "TCP"
        },
        {
            "ports": "689",
            "protocol": "UDP"
        }
    ]
}