{
    "description": "5929",
    "name": "nnsp",
    "networkIdentities": [
        {
            "ports": "433",
            "protocol": "UDP"
        },
        {
            "ports": "433",
            "protocol": "TCP"
        }
    ]
}