{
    "description": "5933",
    "name": "novadigm",
    "networkIdentities": [
        {
            "ports": "3460,3461,3462,3463,3464,3465",
            "protocol": "UDP"
        },
        {
            "ports": "3460,3461,3462,3463,3464,3465",
            "protocol": "TCP"
        }
    ]
}