{
    "description": "5935",
    "name": "npmp-gui",
    "networkIdentities": [
        {
            "ports": "611",
            "protocol": "TCP"
        },
        {
            "ports": "611",
            "protocol": "UDP"
        }
    ]
}