{
    "description": "5937",
    "name": "npmp-trap",
    "networkIdentities": [
        {
            "ports": "609",
            "protocol": "TCP"
        },
        {
            "ports": "609",
            "protocol": "UDP"
        }
    ]
}