{
    "description": "5936",
    "name": "npmp-local",
    "networkIdentities": [
        {
            "ports": "610",
            "protocol": "UDP"
        },
        {
            "ports": "610",
            "protocol": "TCP"
        }
    ]
}