{
    "description": "5938",
    "name": "npp",
    "networkIdentities": [
        {
            "ports": "92",
            "protocol": "UDP"
        },
        {
            "ports": "92",
            "protocol": "TCP"
        }
    ]
}