{
    "description": "5940",
    "name": "ns",
    "networkIdentities": [
        {
            "ports": "760",
            "protocol": "TCP"
        },
        {
            "ports": "760",
            "protocol": "UDP"
        }
    ]
}