{
    "description": "5943",
    "name": "nsrmp",
    "networkIdentities": [
        {
            "ports": "359",
            "protocol": "UDP"
        },
        {
            "ports": "359",
            "protocol": "TCP"
        }
    ]
}