{
    "description": "5944",
    "name": "nss-routing",
    "networkIdentities": [
        {
            "ports": "159",
            "protocol": "TCP"
        },
        {
            "ports": "159",
            "protocol": "UDP"
        }
    ]
}