{
    "description": "5952",
    "name": "obex",
    "networkIdentities": [
        {
            "ports": "650",
            "protocol": "TCP"
        },
        {
            "ports": "650",
            "protocol": "UDP"
        }
    ]
}