{
    "description": "5954",
    "name": "ocbinder",
    "networkIdentities": [
        {
            "ports": "183",
            "protocol": "UDP"
        },
        {
            "ports": "183",
            "protocol": "TCP"
        }
    ]
}