{
    "description": "5955",
    "name": "ocs_amu",
    "networkIdentities": [
        {
            "ports": "429",
            "protocol": "UDP"
        },
        {
            "ports": "429",
            "protocol": "TCP"
        }
    ]
}