{
    "description": "5956",
    "name": "ocs_cmu",
    "networkIdentities": [
        {
            "ports": "428",
            "protocol": "TCP"
        },
        {
            "ports": "428",
            "protocol": "UDP"
        }
    ]
}