{
    "description": "5957",
    "name": "ocserver",
    "networkIdentities": [
        {
            "ports": "184",
            "protocol": "TCP"
        },
        {
            "ports": "184",
            "protocol": "UDP"
        }
    ]
}