{
    "description": "5959",
    "name": "odmr",
    "networkIdentities": [
        {
            "ports": "366",
            "protocol": "UDP"
        },
        {
            "ports": "366",
            "protocol": "TCP"
        }
    ]
}