{
    "description": "5960",
    "name": "ohimsrv",
    "networkIdentities": [
        {
            "ports": "506",
            "protocol": "TCP"
        },
        {
            "ports": "506",
            "protocol": "UDP"
        }
    ]
}