{
    "description": "5962",
    "name": "olsr",
    "networkIdentities": [
        {
            "ports": "698",
            "protocol": "TCP"
        },
        {
            "ports": "698",
            "protocol": "UDP"
        }
    ]
}