{
    "description": "5963",
    "name": "omginitialrefs",
    "networkIdentities": [
        {
            "ports": "900",
            "protocol": "UDP"
        },
        {
            "ports": "900",
            "protocol": "TCP"
        }
    ]
}