{
    "description": "5964",
    "name": "omhs",
    "networkIdentities": [
        {
            "ports": "5723",
            "protocol": "UDP"
        },
        {
            "ports": "5723",
            "protocol": "TCP"
        }
    ]
}