{
    "description": "5967",
    "name": "opalis-rdv",
    "networkIdentities": [
        {
            "ports": "536",
            "protocol": "TCP"
        },
        {
            "ports": "536",
            "protocol": "UDP"
        }
    ]
}