{
    "description": "5968",
    "name": "opalis-robot",
    "networkIdentities": [
        {
            "ports": "314",
            "protocol": "TCP"
        },
        {
            "ports": "314",
            "protocol": "UDP"
        }
    ]
}