{
    "description": "5971",
    "name": "openport",
    "networkIdentities": [
        {
            "ports": "260",
            "protocol": "UDP"
        },
        {
            "ports": "260",
            "protocol": "TCP"
        }
    ]
}