{
    "description": "5972",
    "name": "openvms-sysipc",
    "networkIdentities": [
        {
            "ports": "557",
            "protocol": "TCP"
        },
        {
            "ports": "557",
            "protocol": "UDP"
        }
    ]
}