{
    "description": "5974",
    "name": "opsmgr",
    "networkIdentities": [
        {
            "ports": "1270",
            "protocol": "TCP"
        },
        {
            "ports": "1270",
            "protocol": "UDP"
        }
    ]
}