{
    "description": "5980",
    "name": "oraclenames",
    "networkIdentities": [
        {
            "ports": "1575",
            "protocol": "UDP"
        },
        {
            "ports": "1575",
            "protocol": "TCP"
        }
    ]
}