{
    "description": "5985",
    "name": "orbix-locator",
    "networkIdentities": [
        {
            "ports": "3075",
            "protocol": "TCP"
        },
        {
            "ports": "3075",
            "protocol": "UDP"
        }
    ]
}