{
    "description": "5982",
    "name": "orbix-cfg-ssl",
    "networkIdentities": [
        {
            "ports": "3078",
            "protocol": "UDP"
        },
        {
            "ports": "3078",
            "protocol": "TCP"
        }
    ]
}