{
    "description": "5988",
    "name": "osu-nms",
    "networkIdentities": [
        {
            "ports": "192",
            "protocol": "UDP"
        },
        {
            "ports": "192",
            "protocol": "TCP"
        }
    ]
}