{
    "description": "5991",
    "name": "p10",
    "networkIdentities": [
        {
            "ports": "6665,6666,6667,6668,6669",
            "protocol": "TCP"
        },
        {
            "ports": "6665,6666,6667,6668,6669",
            "protocol": "UDP"
        }
    ]
}