{
    "description": "5996",
    "name": "passgo-tivoli",
    "networkIdentities": [
        {
            "ports": "627",
            "protocol": "TCP"
        },
        {
            "ports": "627",
            "protocol": "UDP"
        }
    ]
}