{
    "description": "5997",
    "name": "password-chg",
    "networkIdentities": [
        {
            "ports": "586",
            "protocol": "UDP"
        },
        {
            "ports": "586",
            "protocol": "TCP"
        }
    ]
}