{
    "description": "5999",
    "name": "pawserv",
    "networkIdentities": [
        {
            "ports": "345",
            "protocol": "UDP"
        },
        {
            "ports": "345",
            "protocol": "TCP"
        }
    ]
}