{
    "description": "6004",
    "name": "pcmail-srv",
    "networkIdentities": [
        {
            "ports": "158",
            "protocol": "UDP"
        },
        {
            "ports": "158",
            "protocol": "TCP"
        }
    ]
}