{
    "description": "20025",
    "name": "personal-link",
    "networkIdentities": [
        {
            "ports": "281",
            "protocol": "UDP"
        },
        {
            "ports": "281",
            "protocol": "TCP"
        }
    ]
}