{
    "description": "20026",
    "name": "pftp",
    "networkIdentities": [
        {
            "ports": "662",
            "protocol": "TCP"
        },
        {
            "ports": "662",
            "protocol": "UDP"
        }
    ]
}