{
    "description": "20029",
    "name": "phonebook",
    "networkIdentities": [
        {
            "ports": "767",
            "protocol": "TCP"
        },
        {
            "ports": "767",
            "protocol": "UDP"
        }
    ]
}