{
    "description": "20033",
    "name": "pim-rp-disc",
    "networkIdentities": [
        {
            "ports": "496",
            "protocol": "UDP"
        },
        {
            "ports": "496",
            "protocol": "TCP"
        }
    ]
}