{
    "description": "20040",
    "name": "pkix-timestamp",
    "networkIdentities": [
        {
            "ports": "318",
            "protocol": "UDP"
        },
        {
            "ports": "318",
            "protocol": "TCP"
        }
    ]
}