{
    "description": "20046",
    "name": "pop2",
    "networkIdentities": [
        {
            "ports": "109",
            "protocol": "UDP"
        },
        {
            "ports": "109",
            "protocol": "TCP"
        }
    ]
}