{
    "description": "20048",
    "name": "postgresql",
    "networkIdentities": [
        {
            "ports": "5432",
            "protocol": "TCP"
        },
        {
            "ports": "5432",
            "protocol": "UDP"
        }
    ]
}