{
    "description": "20049",
    "name": "pov-ray",
    "networkIdentities": [
        {
            "ports": "494",
            "protocol": "TCP"
        },
        {
            "ports": "494",
            "protocol": "UDP"
        }
    ]
}