{
    "description": "20057",
    "name": "printer",
    "networkIdentities": [
        {
            "ports": "515",
            "protocol": "TCP"
        },
        {
            "ports": "515",
            "protocol": "UDP"
        }
    ]
}