{
    "description": "20059",
    "name": "prm-nm",
    "networkIdentities": [
        {
            "ports": "409",
            "protocol": "UDP"
        },
        {
            "ports": "409",
            "protocol": "TCP"
        }
    ]
}