{
    "description": "20060",
    "name": "prm-sm",
    "networkIdentities": [
        {
            "ports": "408",
            "protocol": "UDP"
        },
        {
            "ports": "408",
            "protocol": "TCP"
        }
    ]
}