{
    "description": "20061",
    "name": "profile",
    "networkIdentities": [
        {
            "ports": "136",
            "protocol": "UDP"
        },
        {
            "ports": "136",
            "protocol": "TCP"
        }
    ]
}