{
    "description": "20064",
    "name": "psrserver",
    "networkIdentities": [
        {
            "ports": "2351",
            "protocol": "UDP"
        },
        {
            "ports": "2351",
            "protocol": "TCP"
        }
    ]
}