{
    "description": "20067",
    "name": "ptp-event",
    "networkIdentities": [
        {
            "ports": "319",
            "protocol": "UDP"
        },
        {
            "ports": "319",
            "protocol": "TCP"
        }
    ]
}