{
    "description": "20068",
    "name": "ptp-general",
    "networkIdentities": [
        {
            "ports": "320",
            "protocol": "TCP"
        },
        {
            "ports": "320",
            "protocol": "UDP"
        }
    ]
}