{
    "description": "20073",
    "name": "pwdgen",
    "networkIdentities": [
        {
            "ports": "129",
            "protocol": "TCP"
        },
        {
            "ports": "129",
            "protocol": "UDP"
        }
    ]
}