{
    "description": "20076",
    "name": "qmqp",
    "networkIdentities": [
        {
            "ports": "628",
            "protocol": "TCP"
        },
        {
            "ports": "628",
            "protocol": "UDP"
        }
    ]
}