{
    "description": "20077",
    "name": "qmtp",
    "networkIdentities": [
        {
            "ports": "209",
            "protocol": "UDP"
        },
        {
            "ports": "209",
            "protocol": "TCP"
        }
    ]
}