{
    "description": "20079",
    "name": "qotd",
    "networkIdentities": [
        {
            "ports": "17",
            "protocol": "UDP"
        },
        {
            "ports": "17",
            "protocol": "TCP"
        }
    ]
}