{
    "description": "20085",
    "name": "qrh",
    "networkIdentities": [
        {
            "ports": "752",
            "protocol": "TCP"
        },
        {
            "ports": "752",
            "protocol": "UDP"
        }
    ]
}