{
    "description": "20087",
    "name": "quotad",
    "networkIdentities": [
        {
            "ports": "762",
            "protocol": "UDP"
        },
        {
            "ports": "762",
            "protocol": "TCP"
        }
    ]
}