{
    "description": "20091",
    "name": "rap",
    "networkIdentities": [
        {
            "ports": "38",
            "protocol": "TCP"
        },
        {
            "ports": "38",
            "protocol": "UDP"
        }
    ]
}