{
    "description": "20093",
    "name": "rda",
    "networkIdentities": [
        {
            "ports": "630",
            "protocol": "UDP"
        },
        {
            "ports": "630",
            "protocol": "TCP"
        }
    ]
}