{
    "description": "20097",
    "name": "re-mail-ck",
    "networkIdentities": [
        {
            "ports": "50",
            "protocol": "TCP"
        },
        {
            "ports": "50",
            "protocol": "UDP"
        }
    ]
}