{
    "description": "20098",
    "name": "realm-rusd",
    "networkIdentities": [
        {
            "ports": "688",
            "protocol": "TCP"
        },
        {
            "ports": "688",
            "protocol": "UDP"
        }
    ]
}