{
    "description": "20105",
    "name": "repscmd",
    "networkIdentities": [
        {
            "ports": "653",
            "protocol": "UDP"
        },
        {
            "ports": "653",
            "protocol": "TCP"
        }
    ]
}