{
    "description": "20106",
    "name": "rescap",
    "networkIdentities": [
        {
            "ports": "283",
            "protocol": "UDP"
        },
        {
            "ports": "283",
            "protocol": "TCP"
        }
    ]
}