{
    "description": "20115",
    "name": "rip",
    "networkIdentities": [
        {
            "ports": "520",
            "protocol": "UDP"
        },
        {
            "ports": "520",
            "protocol": "TCP"
        }
    ]
}