{
    "description": "20116",
    "name": "ripng",
    "networkIdentities": [
        {
            "ports": "521",
            "protocol": "UDP"
        },
        {
            "ports": "521",
            "protocol": "TCP"
        }
    ]
}