{
    "description": "20118",
    "name": "ris-cm",
    "networkIdentities": [
        {
            "ports": "748",
            "protocol": "TCP"
        },
        {
            "ports": "748",
            "protocol": "UDP"
        }
    ]
}