{
    "description": "20119",
    "name": "rje",
    "networkIdentities": [
        {
            "ports": "5",
            "protocol": "UDP"
        },
        {
            "ports": "5",
            "protocol": "TCP"
        }
    ]
}