{
    "description": "20120",
    "name": "rlp",
    "networkIdentities": [
        {
            "ports": "39",
            "protocol": "TCP"
        },
        {
            "ports": "39",
            "protocol": "UDP"
        }
    ]
}