{
    "description": "20123",
    "name": "rmiactivation",
    "networkIdentities": [
        {
            "ports": "1098",
            "protocol": "UDP"
        },
        {
            "ports": "1098",
            "protocol": "TCP"
        }
    ]
}