{
    "description": "20129",
    "name": "rrh",
    "networkIdentities": [
        {
            "ports": "753",
            "protocol": "TCP"
        },
        {
            "ports": "753",
            "protocol": "UDP"
        }
    ]
}