{
    "description": "20131",
    "name": "rsh-spx",
    "networkIdentities": [
        {
            "ports": "222",
            "protocol": "UDP"
        },
        {
            "ports": "222",
            "protocol": "TCP"
        }
    ]
}