{
    "description": "20132",
    "name": "rsvd",
    "networkIdentities": [
        {
            "ports": "168",
            "protocol": "UDP"
        },
        {
            "ports": "168",
            "protocol": "TCP"
        }
    ]
}