{
    "description": "20140",
    "name": "rtelnet",
    "networkIdentities": [
        {
            "ports": "107",
            "protocol": "TCP"
        },
        {
            "ports": "107",
            "protocol": "UDP"
        }
    ]
}