{
    "description": "20149",
    "name": "rtsps",
    "networkIdentities": [
        {
            "ports": "322",
            "protocol": "TCP"
        },
        {
            "ports": "322",
            "protocol": "UDP"
        }
    ]
}