{
    "description": "20150",
    "name": "rushd",
    "networkIdentities": [
        {
            "ports": "696",
            "protocol": "UDP"
        },
        {
            "ports": "696",
            "protocol": "TCP"
        }
    ]
}