{
    "description": "20157",
    "name": "sanity",
    "networkIdentities": [
        {
            "ports": "643",
            "protocol": "UDP"
        },
        {
            "ports": "643",
            "protocol": "TCP"
        }
    ]
}