{
    "description": "20161",
    "name": "scc-security",
    "networkIdentities": [
        {
            "ports": "582",
            "protocol": "UDP"
        },
        {
            "ports": "582",
            "protocol": "TCP"
        }
    ]
}