{
    "description": "20169",
    "name": "sco-websrvrmgr",
    "networkIdentities": [
        {
            "ports": "620",
            "protocol": "TCP"
        },
        {
            "ports": "620",
            "protocol": "UDP"
        }
    ]
}