{
    "description": "20165",
    "name": "sco-dtmgr",
    "networkIdentities": [
        {
            "ports": "617",
            "protocol": "TCP"
        },
        {
            "ports": "617",
            "protocol": "UDP"
        }
    ]
}