{
    "description": "20167",
    "name": "sco-sysmgr",
    "networkIdentities": [
        {
            "ports": "616",
            "protocol": "TCP"
        },
        {
            "ports": "616",
            "protocol": "UDP"
        }
    ]
}