{
    "description": "20166",
    "name": "sco-inetmgr",
    "networkIdentities": [
        {
            "ports": "615",
            "protocol": "UDP"
        },
        {
            "ports": "615",
            "protocol": "TCP"
        }
    ]
}