{
    "description": "20170",
    "name": "scohelp",
    "networkIdentities": [
        {
            "ports": "457",
            "protocol": "UDP"
        },
        {
            "ports": "457",
            "protocol": "TCP"
        }
    ]
}