{
    "description": "20175",
    "name": "scx-proxy",
    "networkIdentities": [
        {
            "ports": "470",
            "protocol": "UDP"
        },
        {
            "ports": "470",
            "protocol": "TCP"
        }
    ]
}