{
    "description": "20176",
    "name": "sdnskmp",
    "networkIdentities": [
        {
            "ports": "558",
            "protocol": "TCP"
        },
        {
            "ports": "558",
            "protocol": "UDP"
        }
    ]
}