{
    "description": "20184",
    "name": "secure-nntp",
    "networkIdentities": [
        {
            "ports": "563",
            "protocol": "UDP"
        },
        {
            "ports": "563",
            "protocol": "TCP"
        }
    ]
}