{
    "description": "20183",
    "name": "secure-ldap",
    "networkIdentities": [
        {
            "ports": "636",
            "protocol": "TCP"
        },
        {
            "ports": "636",
            "protocol": "UDP"
        }
    ]
}