{
    "description": "20187",
    "name": "secure-telnet",
    "networkIdentities": [
        {
            "ports": "992",
            "protocol": "UDP"
        },
        {
            "ports": "992",
            "protocol": "TCP"
        }
    ]
}