{
    "description": "20182",
    "name": "secure-irc",
    "networkIdentities": [
        {
            "ports": "994",
            "protocol": "UDP"
        },
        {
            "ports": "994",
            "protocol": "TCP"
        }
    ]
}