{
    "description": "20190",
    "name": "send",
    "networkIdentities": [
        {
            "ports": "169",
            "protocol": "UDP"
        },
        {
            "ports": "169",
            "protocol": "TCP"
        }
    ]
}