{
    "description": "20193",
    "name": "servstat",
    "networkIdentities": [
        {
            "ports": "633",
            "protocol": "TCP"
        },
        {
            "ports": "633",
            "protocol": "UDP"
        }
    ]
}