{
    "description": "20194",
    "name": "set",
    "networkIdentities": [
        {
            "ports": "257",
            "protocol": "UDP"
        },
        {
            "ports": "257",
            "protocol": "TCP"
        }
    ]
}