{
    "description": "20196",
    "name": "sflow",
    "networkIdentities": [
        {
            "ports": "6343",
            "protocol": "TCP"
        },
        {
            "ports": "6343",
            "protocol": "UDP"
        }
    ]
}