{
    "description": "20198",
    "name": "sfs-smp-net",
    "networkIdentities": [
        {
            "ports": "451",
            "protocol": "UDP"
        },
        {
            "ports": "451",
            "protocol": "TCP"
        }
    ]
}