{
    "description": "20199",
    "name": "sftp",
    "networkIdentities": [
        {
            "ports": "115",
            "protocol": "TCP"
        },
        {
            "ports": "115",
            "protocol": "UDP"
        }
    ]
}