{
    "description": "20202",
    "name": "sgmp-traps",
    "networkIdentities": [
        {
            "ports": "160",
            "protocol": "TCP"
        },
        {
            "ports": "160",
            "protocol": "UDP"
        }
    ]
}