{
    "description": "20206",
    "name": "shockwave",
    "networkIdentities": [
        {
            "ports": "1626",
            "protocol": "UDP"
        },
        {
            "ports": "1626",
            "protocol": "TCP"
        }
    ]
}