{
    "description": "20209",
    "name": "shrinkwrap",
    "networkIdentities": [
        {
            "ports": "358",
            "protocol": "UDP"
        },
        {
            "ports": "358",
            "protocol": "TCP"
        }
    ]
}