{
    "description": "20213",
    "name": "sift-uft",
    "networkIdentities": [
        {
            "ports": "608",
            "protocol": "TCP"
        },
        {
            "ports": "608",
            "protocol": "UDP"
        }
    ]
}