{
    "description": "20214",
    "name": "silc",
    "networkIdentities": [
        {
            "ports": "706",
            "protocol": "UDP"
        },
        {
            "ports": "706",
            "protocol": "TCP"
        }
    ]
}