{
    "description": "20216",
    "name": "sip-tls",
    "networkIdentities": [
        {
            "ports": "5061",
            "protocol": "UDP"
        },
        {
            "ports": "5061",
            "protocol": "TCP"
        }
    ]
}