{
    "description": "20224",
    "name": "skronk",
    "networkIdentities": [
        {
            "ports": "460",
            "protocol": "UDP"
        },
        {
            "ports": "460",
            "protocol": "TCP"
        }
    ]
}