{
    "description": "20235",
    "name": "smartpackets",
    "networkIdentities": [
        {
            "ports": "3218",
            "protocol": "TCP"
        },
        {
            "ports": "3218",
            "protocol": "UDP"
        }
    ]
}