{
    "description": "20238",
    "name": "smpnameres",
    "networkIdentities": [
        {
            "ports": "901",
            "protocol": "TCP"
        },
        {
            "ports": "901",
            "protocol": "UDP"
        }
    ]
}