{
    "description": "20239",
    "name": "smsd",
    "networkIdentities": [
        {
            "ports": "596",
            "protocol": "TCP"
        },
        {
            "ports": "596",
            "protocol": "UDP"
        }
    ]
}