{
    "description": "20241",
    "name": "smtp",
    "networkIdentities": [
        {
            "ports": "25",
            "protocol": "UDP"
        },
        {
            "ports": "25,587",
            "protocol": "TCP"
        }
    ]
}