{
    "description": "20243",
    "name": "snagas",
    "networkIdentities": [
        {
            "ports": "108",
            "protocol": "UDP"
        },
        {
            "ports": "108",
            "protocol": "TCP"
        }
    ]
}