{
    "description": "20245",
    "name": "snare",
    "networkIdentities": [
        {
            "ports": "509",
            "protocol": "UDP"
        },
        {
            "ports": "509",
            "protocol": "TCP"
        }
    ]
}