{
    "description": "20246",
    "name": "snmp",
    "networkIdentities": [
        {
            "ports": "161,162,1161,1162",
            "protocol": "TCP"
        },
        {
            "ports": "161,162",
            "protocol": "UDP"
        }
    ]
}