{
    "description": "20248",
    "name": "snpp",
    "networkIdentities": [
        {
            "ports": "444",
            "protocol": "TCP"
        },
        {
            "ports": "444",
            "protocol": "UDP"
        }
    ]
}