{
    "description": "20269",
    "name": "spsc",
    "networkIdentities": [
        {
            "ports": "478",
            "protocol": "TCP"
        },
        {
            "ports": "478",
            "protocol": "UDP"
        }
    ]
}