{
    "description": "20271",
    "name": "sqlexec",
    "networkIdentities": [
        {
            "ports": "9088",
            "protocol": "TCP"
        },
        {
            "ports": "9088",
            "protocol": "UDP"
        }
    ]
}