{
    "description": "20274",
    "name": "sqlserv",
    "networkIdentities": [
        {
            "ports": "118",
            "protocol": "TCP"
        },
        {
            "ports": "118",
            "protocol": "UDP"
        }
    ]
}