{
    "description": "20275",
    "name": "sqlserver",
    "networkIdentities": [
        {
            "ports": "1433",
            "protocol": "UDP"
        },
        {
            "ports": "1433",
            "protocol": "TCP"
        }
    ]
}