{
    "description": "20278",
    "name": "srmp",
    "networkIdentities": [
        {
            "ports": "193",
            "protocol": "UDP"
        },
        {
            "ports": "193",
            "protocol": "TCP"
        }
    ]
}