{
    "description": "20280",
    "name": "srssend",
    "networkIdentities": [
        {
            "ports": "362",
            "protocol": "UDP"
        },
        {
            "ports": "362",
            "protocol": "TCP"
        }
    ]
}