{
    "description": "20296",
    "name": "statsrv",
    "networkIdentities": [
        {
            "ports": "133",
            "protocol": "UDP"
        },
        {
            "ports": "133",
            "protocol": "TCP"
        }
    ]
}