{
    "description": "20302",
    "name": "stuns",
    "networkIdentities": [
        {
            "ports": "5349",
            "protocol": "TCP"
        },
        {
            "ports": "5349",
            "protocol": "UDP"
        }
    ]
}