{
    "description": "20301",
    "name": "stun-nat",
    "networkIdentities": [
        {
            "ports": "3478",
            "protocol": "TCP"
        },
        {
            "ports": "3478",
            "protocol": "UDP"
        }
    ]
}