{
    "description": "20304",
    "name": "su-mit-tg",
    "networkIdentities": [
        {
            "ports": "89",
            "protocol": "UDP"
        },
        {
            "ports": "89",
            "protocol": "TCP"
        }
    ]
}