{
    "description": "20305",
    "name": "submission",
    "networkIdentities": [
        {
            "ports": "587",
            "protocol": "UDP"
        },
        {
            "ports": "587",
            "protocol": "TCP"
        }
    ]
}