{
    "description": "20307",
    "name": "subntbcst_tftp",
    "networkIdentities": [
        {
            "ports": "247",
            "protocol": "UDP"
        },
        {
            "ports": "247",
            "protocol": "TCP"
        }
    ]
}