{
    "description": "20311",
    "name": "sunrpc",
    "networkIdentities": [
        {
            "ports": "111,371,2049",
            "protocol": "TCP"
        },
        {
            "ports": "111,371,2049",
            "protocol": "UDP"
        }
    ]
}