{
    "description": "20313",
    "name": "sur-meas",
    "networkIdentities": [
        {
            "ports": "243",
            "protocol": "TCP"
        },
        {
            "ports": "243",
            "protocol": "UDP"
        }
    ]
}