{
    "description": "20314",
    "name": "surf",
    "networkIdentities": [
        {
            "ports": "1010",
            "protocol": "TCP"
        },
        {
            "ports": "1010",
            "protocol": "UDP"
        }
    ]
}