{
    "description": "20316",
    "name": "svrloc",
    "networkIdentities": [
        {
            "ports": "427",
            "protocol": "TCP"
        },
        {
            "ports": "427",
            "protocol": "UDP"
        }
    ]
}