{
    "description": "20324",
    "name": "synotics-relay",
    "networkIdentities": [
        {
            "ports": "391",
            "protocol": "TCP"
        },
        {
            "ports": "391",
            "protocol": "UDP"
        }
    ]
}