{
    "description": "20332",
    "name": "tapeware",
    "networkIdentities": [
        {
            "ports": "3817",
            "protocol": "TCP"
        },
        {
            "ports": "3817",
            "protocol": "UDP"
        }
    ]
}