{
    "description": "20337",
    "name": "td-service",
    "networkIdentities": [
        {
            "ports": "267",
            "protocol": "TCP"
        },
        {
            "ports": "267",
            "protocol": "UDP"
        }
    ]
}