{
    "description": "20338",
    "name": "teamsound",
    "networkIdentities": [
        {
            "ports": "40001,40011",
            "protocol": "TCP"
        },
        {
            "ports": "40001,40002,40003,40004,40011",
            "protocol": "UDP"
        }
    ]
}