{
    "description": "20342",
    "name": "teedtap",
    "networkIdentities": [
        {
            "ports": "559",
            "protocol": "TCP"
        },
        {
            "ports": "559",
            "protocol": "UDP"
        }
    ]
}