{
    "description": "20351",
    "name": "teredo-ipv6-tunneled",
    "networkIdentities": [
        {
            "ports": "3544",
            "protocol": "TCP"
        },
        {
            "ports": "3544,3545",
            "protocol": "UDP"
        }
    ]
}