{
    "description": "20363",
    "name": "ticf-2",
    "networkIdentities": [
        {
            "ports": "493",
            "protocol": "TCP"
        },
        {
            "ports": "493",
            "protocol": "UDP"
        }
    ]
}