{
    "description": "20367",
    "name": "timed",
    "networkIdentities": [
        {
            "ports": "525",
            "protocol": "TCP"
        },
        {
            "ports": "525",
            "protocol": "UDP"
        }
    ]
}