{
    "description": "20368",
    "name": "tinc",
    "networkIdentities": [
        {
            "ports": "655",
            "protocol": "UDP"
        },
        {
            "ports": "655",
            "protocol": "TCP"
        }
    ]
}