{
    "description": "20373",
    "name": "tn-tl-fd1",
    "networkIdentities": [
        {
            "ports": "476",
            "protocol": "TCP"
        },
        {
            "ports": "476",
            "protocol": "UDP"
        }
    ]
}