{
    "description": "20374",
    "name": "tnETOS",
    "networkIdentities": [
        {
            "ports": "377",
            "protocol": "TCP"
        },
        {
            "ports": "377",
            "protocol": "UDP"
        }
    ]
}