{
    "description": "20375",
    "name": "tns-cml",
    "networkIdentities": [
        {
            "ports": "590",
            "protocol": "TCP"
        },
        {
            "ports": "590",
            "protocol": "UDP"
        }
    ]
}