{
    "description": "20379",
    "name": "tpip",
    "networkIdentities": [
        {
            "ports": "594",
            "protocol": "TCP"
        },
        {
            "ports": "594",
            "protocol": "UDP"
        }
    ]
}