{
    "description": "20382",
    "name": "trinoo",
    "networkIdentities": [
        {
            "ports": "27665",
            "protocol": "TCP"
        },
        {
            "ports": "27444,31335",
            "protocol": "UDP"
        }
    ]
}