{
    "description": "20395",
    "name": "uaac",
    "networkIdentities": [
        {
            "ports": "145",
            "protocol": "UDP"
        },
        {
            "ports": "145",
            "protocol": "TCP"
        }
    ]
}