{
    "description": "20396",
    "name": "uarps",
    "networkIdentities": [
        {
            "ports": "219",
            "protocol": "TCP"
        },
        {
            "ports": "219",
            "protocol": "UDP"
        }
    ]
}