{
    "description": "20398",
    "name": "uis",
    "networkIdentities": [
        {
            "ports": "390",
            "protocol": "UDP"
        },
        {
            "ports": "390",
            "protocol": "TCP"
        }
    ]
}