{
    "description": "20401",
    "name": "ulpnet",
    "networkIdentities": [
        {
            "ports": "483",
            "protocol": "UDP"
        },
        {
            "ports": "483",
            "protocol": "TCP"
        }
    ]
}