{
    "description": "20403",
    "name": "unidata-ldm",
    "networkIdentities": [
        {
            "ports": "388",
            "protocol": "UDP"
        },
        {
            "ports": "388",
            "protocol": "TCP"
        }
    ]
}