{
    "description": "20417",
    "name": "utmpsd",
    "networkIdentities": [
        {
            "ports": "430",
            "protocol": "UDP"
        },
        {
            "ports": "430",
            "protocol": "TCP"
        }
    ]
}