{
    "description": "20421",
    "name": "uuidgen",
    "networkIdentities": [
        {
            "ports": "697",
            "protocol": "UDP"
        },
        {
            "ports": "697",
            "protocol": "TCP"
        }
    ]
}