{
    "description": "20424",
    "name": "vatp",
    "networkIdentities": [
        {
            "ports": "690",
            "protocol": "UDP"
        },
        {
            "ports": "690",
            "protocol": "TCP"
        }
    ]
}