{
    "description": "20426",
    "name": "vemmi",
    "networkIdentities": [
        {
            "ports": "575",
            "protocol": "TCP"
        },
        {
            "ports": "575",
            "protocol": "UDP"
        }
    ]
}