{
    "description": "20431",
    "name": "vid",
    "networkIdentities": [
        {
            "ports": "769",
            "protocol": "TCP"
        },
        {
            "ports": "769",
            "protocol": "UDP"
        }
    ]
}