{
    "description": "20433",
    "name": "videotex",
    "networkIdentities": [
        {
            "ports": "516",
            "protocol": "TCP"
        },
        {
            "ports": "516",
            "protocol": "UDP"
        }
    ]
}