{
    "description": "20436",
    "name": "virtual-places",
    "networkIdentities": [
        {
            "ports": "1533",
            "protocol": "UDP"
        },
        {
            "ports": "1533",
            "protocol": "TCP"
        }
    ]
}