{
    "description": "20442",
    "name": "vmware-fdm",
    "networkIdentities": [
        {
            "ports": "8182",
            "protocol": "UDP"
        },
        {
            "ports": "8182",
            "protocol": "TCP"
        }
    ]
}