{
    "description": "20446",
    "name": "vnas",
    "networkIdentities": [
        {
            "ports": "577",
            "protocol": "UDP"
        },
        {
            "ports": "577",
            "protocol": "TCP"
        }
    ]
}