{
    "description": "20453",
    "name": "vsinet",
    "networkIdentities": [
        {
            "ports": "996",
            "protocol": "TCP"
        },
        {
            "ports": "996",
            "protocol": "UDP"
        }
    ]
}