{
    "description": "20457",
    "name": "wap-push",
    "networkIdentities": [
        {
            "ports": "2948",
            "protocol": "UDP"
        },
        {
            "ports": "2948",
            "protocol": "TCP"
        }
    ]
}