{
    "description": "20468",
    "name": "wap-wsp-wtp-s",
    "networkIdentities": [
        {
            "ports": "9203",
            "protocol": "UDP"
        },
        {
            "ports": "9203",
            "protocol": "TCP"
        }
    ]
}