{
    "description": "20466",
    "name": "wap-wsp-s",
    "networkIdentities": [
        {
            "ports": "9202",
            "protocol": "TCP"
        },
        {
            "ports": "9202",
            "protocol": "UDP"
        }
    ]
}