{
    "description": "20458",
    "name": "wap-push-http",
    "networkIdentities": [
        {
            "ports": "4035",
            "protocol": "TCP"
        },
        {
            "ports": "4035",
            "protocol": "UDP"
        }
    ]
}