{
    "description": "20461",
    "name": "wap-vcal",
    "networkIdentities": [
        {
            "ports": "9205",
            "protocol": "TCP"
        },
        {
            "ports": "9205",
            "protocol": "UDP"
        }
    ]
}