{
    "description": "20508",
    "name": "wlccp",
    "networkIdentities": [
        {
            "ports": "2887",
            "protocol": "UDP"
        },
        {
            "ports": "2887",
            "protocol": "TCP"
        }
    ]
}