{
    "description": "20517",
    "name": "xact-backup",
    "networkIdentities": [
        {
            "ports": "911",
            "protocol": "UDP"
        },
        {
            "ports": "911",
            "protocol": "TCP"
        }
    ]
}