{
    "description": "20522",
    "name": "xfer",
    "networkIdentities": [
        {
            "ports": "82",
            "protocol": "UDP"
        },
        {
            "ports": "82",
            "protocol": "TCP"
        }
    ]
}