{
    "description": "20525",
    "name": "xmpp-client",
    "networkIdentities": [
        {
            "ports": "5222",
            "protocol": "UDP"
        },
        {
            "ports": "5222",
            "protocol": "TCP"
        }
    ]
}