{
    "description": "20528",
    "name": "xns-ch",
    "networkIdentities": [
        {
            "ports": "54",
            "protocol": "UDP"
        },
        {
            "ports": "54",
            "protocol": "TCP"
        }
    ]
}