{
    "description": "20550",
    "name": "zannet",
    "networkIdentities": [
        {
            "ports": "317",
            "protocol": "UDP"
        },
        {
            "ports": "317",
            "protocol": "TCP"
        }
    ]
}