{
    "ERSCertificateTemplate": {
        "description": "This template will be used when other network service using ISE as a CA",
        "keySize": 2048,
        "name": "CA_SERVICE_Certificate_Template",
        "raprofile": "ISE Internal CA",
        "validityPeriod": 730
    }
}