{
    "ERSCertificateTemplate": {
        "description": "This template will be used to issue certificates for EAP Authentication",
        "keySize": 2048,
        "name": "EAP_Authentication_Certificate_Template",
        "raprofile": "ISE Internal CA",
        "validityPeriod": 730
    }
}