{
    "ProfilerProfile": {
        "description": "Policy for Android-Samsung-Galaxy-Phone",
        "name": "Android-Samsung-Galaxy-Phone",
        "parentId": "03156040-8c00-11e6-996c-525400b48521"
    }
}