{
    "ProfilerProfile": {
        "description": "Profiling policy for Android-Samsung-Galaxy-Note-3-N900A",
        "name": "Android-Samsung-Galaxy-Note-3-N900A",
        "parentId": "04649c90-8c00-11e6-996c-525400b48521"
    }
}