{
    "ProfilerProfile": {
        "description": "Policy for Android-Lenovo-Phone-P780",
        "name": "Android-Lenovo-Phone-P780",
        "parentId": "020ddb50-8c00-11e6-996c-525400b48521"
    }
}