{
    "ProfilerProfile": {
        "description": "Policy for Android-Sony-Ericsson-Tablet",
        "name": "Android-Sony-Ericsson-Tablet",
        "parentId": "08aa5c90-8c00-11e6-996c-525400b48521"
    }
}