{
    "ProfilerProfile": {
        "description": "Policy for Android-Samsung-Galaxy-Phone-S3",
        "name": "Android-Samsung-Galaxy-Phone-S3",
        "parentId": "0561c140-8c00-11e6-996c-525400b48521"
    }
}