{
    "ProfilerProfile": {
        "description": "Policy for Axis-Network-Camera-216FD",
        "name": "Axis-Network-Camera-216FD",
        "parentId": "0c8bb570-8c00-11e6-996c-525400b48521"
    }
}