{
    "ProfilerProfile": {
        "description": "Generic policy for Cisco Video Surveillance IP Cameras",
        "name": "Cisco-IP-Camera",
        "parentId": "0eba7c50-8c00-11e6-996c-525400b48521"
    }
}