{
    "ProfilerProfile": {
        "description": "Policy for Cisco Autonomous 1250 Series Access Point",
        "name": "Cisco-AIR-AP-1250",
        "parentId": "116fd850-8c00-11e6-996c-525400b48521"
    }
}