{
    "ProfilerProfile": {
        "description": "policy for Cisco-AP-Catalyst-CW9163E",
        "name": "Cisco-AP-Catalyst-CW9163E",
        "parentId": "0f3d8f00-8c00-11e6-996c-525400b48521"
    }
}