{
    "ProfilerProfile": {
        "description": "Policy for Cisco Aironet 1130 Series Access Points",
        "name": "Cisco-AP-Aironet-1130",
        "parentId": "0f3d8f00-8c00-11e6-996c-525400b48521"
    }
}