{
    "ProfilerProfile": {
        "description": "Policy for HP-Color-LaserJet-Printer",
        "name": "HP-Color-LaserJet-Printer",
        "parentId": "29473540-8c00-11e6-996c-525400b48521"
    }
}