{
    "ProfilerProfile": {
        "description": "Policy for Mega-System-UPS-Agent-Device",
        "name": "Mega-System-UPS-Agent-Device",
        "parentId": "a841be60-79ad-11f1-ad2d-8a4e8c5a954a"
    }
}