{
    "ProfilerProfile": {
        "description": "Policy for Microsoft-Windows-Phone-Lumia-640",
        "name": "Microsoft-Windows-Phone-Lumia-640",
        "parentId": "2e4a51d0-8c00-11e6-996c-525400b48521"
    }
}