{
    "ProfilerProfile": {
        "description": "Policy for Macintosh OS X 10.7 (Lion) workstation",
        "name": "OS_X_Lion-Workstation",
        "parentId": "4057e6d0-8c00-11e6-996c-525400b48521"
    }
}