{
    "ProfilerProfile": {
        "description": "Policy for RICOH-Aficio-SP-9100DN-Printer",
        "name": "RICOH-Aficio-SP-9100DN",
        "parentId": "33e3baf0-8c00-11e6-996c-525400b48521"
    }
}