{
    "ProfilerProfile": {
        "description": "Policy for RICOH-Aficio-SP-C410DN Printer",
        "name": "RICOH-Aficio-SP-C410DN",
        "parentId": "317ea1d0-8c00-11e6-996c-525400b48521"
    }
}