{
    "ProfilerProfile": {
        "description": "Policy for Samsung-ML-2855-Series Printer",
        "name": "Samsung-ML-2855-Series",
        "parentId": "375e14a0-8c00-11e6-996c-525400b48521"
    }
}