{
    "ProfilerProfile": {
        "description": "Policy for Microsoft Windows 11 workstation",
        "name": "Windows11-Workstation",
        "parentId": "41fc9620-8c00-11e6-996c-525400b48521"
    }
}