{
    "ProfilerProfile": {
        "description": "Policy for Xerox-DocuCentre-SC2020 MFP",
        "name": "Xerox-DocuCentre-SC2020",
        "parentId": "5f7fbc00-19f6-11ee-88d5-0050568fa0ed"
    }
}