{
    "ProfilerProfile": {
        "description": "policy for Xerox-PrimeLink-C9265-Printer",
        "name": "Xerox-PrimeLink-C9265-Printer",
        "parentId": "b7cc41d0-19f6-11ee-88d5-0050568fa0ed"
    }
}