{
    "attributeName": "Cisco-5g-serving-network-name",
    "attributeValue": "5G:",
    "conditionType": "LibraryConditionAttributes",
    "description": "A condition to match 5G",
    "dictionaryName": "Cisco",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "5G",
    "operator": "startsWith"
}