{
    "attributeName": "PostureStatus",
    "attributeValue": "Unknown",
    "conditionType": "LibraryConditionAttributes",
    "description": "Default condition for unknown compliance devices",
    "dictionaryName": "Session",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "Compliance_Unknown_Devices",
    "operator": "equals"
}