{
    "attributeName": "LogicalProfile",
    "attributeValue": "IP-Phones",
    "conditionType": "LibraryConditionAttributes",
    "description": "Default condition used to match Non Cisco IP Phones",
    "dictionaryName": "EndPoints",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "Non_Cisco_Profiled_Phones",
    "operator": "equals"
}