{
    "attributeName": "PostureStatus",
    "attributeValue": "NonCompliant",
    "conditionType": "LibraryConditionAttributes",
    "description": "Default condition for non-compliant devices",
    "dictionaryName": "Session",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "Non_Compliant_Devices",
    "operator": "equals"
}