{
    "attributeName": "RadiusFlowType",
    "attributeValue": "WiredWebAuth",
    "conditionType": "LibraryConditionAttributes",
    "description": "A condition to match requests for web authentication from switches, according to the corresponding Web Authentication attributes defined in the device profile.",
    "dictionaryName": "Normalised Radius",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "Switch_Web_Authentication",
    "operator": "equals"
}