{
    "attributeName": "NAS-Port-Type",
    "attributeValue": "Wireless - IEEE 802.11",
    "conditionType": "LibraryConditionAttributes",
    "description": "Default condition used to match any authentication request from Cisco Wireless LAN Controller.",
    "dictionaryName": "Radius",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "Wireless_Access",
    "operator": "equals"
}