{
    "attributeName": "RadiusFlowType",
    "attributeValue": "Wireless802_1x",
    "conditionType": "LibraryConditionAttributes",
    "description": "A condition to match 802.1X based authentication requests from wireless LAN controllers, according to the corresponding 802.1x attributes defined in the device profile.",
    "dictionaryName": "Normalised Radius",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "Wireless_802.1X",
    "operator": "equals"
}