{
    "attributeName": "RadiusFlowType",
    "attributeValue": "WirelessMAB",
    "conditionType": "LibraryConditionAttributes",
    "description": "A condition to match MAC Authentication Bypass service based authentication requests from wireless LAN controllers, according to the corresponding MAB attributes defined in the device profile.",
    "dictionaryName": "Normalised Radius",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "Wireless_MAB",
    "operator": "equals"
}