{
    "attributeName": "RadiusFlowType",
    "attributeValue": "WiredMAB",
    "conditionType": "LibraryConditionAttributes",
    "description": "A condition to match MAC Authentication Bypass service based authentication requests from switches, according to the corresponding MAB attributes defined in the device profile.",
    "dictionaryName": "Normalised Radius",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "Wired_MAB",
    "operator": "equals"
}