{
    "AllowedProtocols": {
        "allowChap": false,
        "allowEapFast": true,
        "allowEapMd5": true,
        "allowEapTls": true,
        "allowEapTtls": true,
        "allowLeap": false,
        "allowMsChapV1": false,
        "allowMsChapV2": false,
        "allowPapAscii": true,
        "allowPeap": true,
        "allowPreferredEapProtocol": false,
        "allowTeap": true,
        "allowWeakCiphersForEap": false,
        "description": "Default Allowed Protocol Service",
        "eapFast": {
            "allowEapFastEapGtc": true,
            "allowEapFastEapGtcPwdChange": true,
            "allowEapFastEapGtcPwdChangeRetries": 3,
            "allowEapFastEapMsChapV2": true,
            "allowEapFastEapMsChapV2PwdChange": true,
            "allowEapFastEapMsChapV2PwdChangeRetries": 3,
            "allowEapFastEapTls": true,
            "allowEapFastEapTlsAuthOfExpiredCerts": false,
            "eapFastEnableEAPChaining": false,
            "eapFastUsePacs": true,
            "eapFastUsePacsAcceptClientCert": false,
            "eapFastUsePacsAllowAnonymProvisioning": false,
            "eapFastUsePacsAllowAuthenProvisioning": true,
            "eapFastUsePacsAllowMachineAuthentication": true,
            "eapFastUsePacsAuthorizationPacTtl": 1,
            "eapFastUsePacsAuthorizationPacTtlUnits": "HOURS",
            "eapFastUsePacsMachinePacTtl": 1,
            "eapFastUsePacsMachinePacTtlUnits": "WEEKS",
            "eapFastUsePacsServerReturns": true,
            "eapFastUsePacsStatelessSessionResume": true,
            "eapFastUsePacsTunnelPacTtl": 90,
            "eapFastUsePacsTunnelPacTtlUnits": "DAYS",
            "eapFastUsePacsUseProactivePacUpdatePrecentage": 90
        },
        "eapTls": {
            "allowEapTlsAuthOfExpiredCerts": false,
            "eapTlsEnableStatelessSessionResume": false
        },
        "eapTlsLBit": false,
        "eapTtls": {
            "eapTtlsChap": true,
            "eapTtlsEapMd5": true,
            "eapTtlsEapMsChapV2": true,
            "eapTtlsEapMsChapV2PwdChange": true,
            "eapTtlsEapMsChapV2PwdChangeRetries": 1,
            "eapTtlsMsChapV1": true,
            "eapTtlsMsChapV2": true,
            "eapTtlsPapAscii": true
        },
        "fiveG": false,
        "name": "Default Network Access",
        "peap": {
            "allowPeapEapGtc": true,
            "allowPeapEapGtcPwdChange": true,
            "allowPeapEapGtcPwdChangeRetries": 1,
            "allowPeapEapMsChapV2": true,
            "allowPeapEapMsChapV2PwdChange": true,
            "allowPeapEapMsChapV2PwdChangeRetries": 1,
            "allowPeapEapTls": true,
            "allowPeapEapTlsAuthOfExpiredCerts": false,
            "allowPeapV0": false,
            "requireCryptobinding": false
        },
        "processHostLookup": true,
        "requireMessageAuth": false,
        "teap": {
            "acceptClientCertDuringTunnelEst": true,
            "allowDowngradeMsk": true,
            "allowTeapEapMsChapV2": true,
            "allowTeapEapMsChapV2PwdChange": true,
            "allowTeapEapMsChapV2PwdChangeRetries": 3,
            "allowTeapEapTls": true,
            "allowTeapEapTlsAuthOfExpiredCerts": false,
            "enableEapChaining": false
        }
    }
}