{
    "AllowedProtocols": {
        "allowChap": true,
        "allowEapFast": false,
        "allowEapMd5": false,
        "allowEapTls": false,
        "allowEapTtls": false,
        "allowLeap": false,
        "allowMsChapV1": true,
        "allowMsChapV2": false,
        "allowPapAscii": true,
        "allowPeap": false,
        "allowPreferredEapProtocol": false,
        "allowTeap": false,
        "allowWeakCiphersForEap": false,
        "description": "Default Allowed Protocol Service Device Admin",
        "eapTlsLBit": false,
        "fiveG": false,
        "name": "Default Device Admin",
        "processHostLookup": false,
        "requireMessageAuth": false
    }
}