{
    "TacacsCommandSets": {
        "commands": {
            "commandList": []
        },
        "description": "Default Command Set",
        "name": "DenyAllCommands",
        "permitUnmatched": false
    }
}