{
    "TacacsProfile": {
        "description": "WLC ALL",
        "name": "WLC ALL",
        "sessionAttributes": {
            "sessionAttributeList": [
                {
                    "name": "role1",
                    "type": "MANDATORY",
                    "value": "ALL"
                }
            ]
        }
    }
}