{
    "Sgt": {
        "name": "{{ site.slug }}_Corp",
        "description": "Corporate endpoints at {{ site.name }}",
        "value": {{ site.sgt_value }},
        "propogateToApic": false
    }
}
