{
    "IdStoreSequence": {
        "breakOnStoreFail": false,
        "certificateAuthenticationProfile": "Preloaded_Certificate_Profile",
        "description": "A built-in Identity Sequence to include all User Identity Stores",
        "idSeqItem": [
            {
                "idstore": "Internal Users",
                "order": 1
            },
            {
                "idstore": "All_AD_Join_Points",
                "order": 2
            },
            {
                "idstore": "Guest Users",
                "order": 3
            }
        ],
        "name": "All_User_ID_Stores"
    }
}