{
    "IdStoreSequence": {
        "breakOnStoreFail": false,
        "certificateAuthenticationProfile": "",
        "description": "A built-in Identity Sequence for the Guest Portal",
        "idSeqItem": [
            {
                "idstore": "Internal Users",
                "order": 1
            },
            {
                "idstore": "Guest Users",
                "order": 2
            },
            {
                "idstore": "All_AD_Join_Points",
                "order": 3
            }
        ],
        "name": "Guest_Portal_Sequence"
    }
}