{
    "AuthorizationProfile": {
        "accessType": "ACCESS_ACCEPT",
        "agentlessPosture": false,
        "authzProfileType": "SWITCH",
        "description": "Contractor limited access",
        "easywiredSessionCandidate": false,
        "name": "Lab_Contractor_Limited",
        "profileName": "Cisco",
        "serviceTemplate": false,
        "trackMovement": false
    }
}