{
    "AuthorizationProfile": {
        "accessType": "ACCESS_ACCEPT",
        "agentlessPosture": false,
        "authzProfileType": "SWITCH",
        "description": "Guest internet only",
        "easywiredSessionCandidate": false,
        "name": "Lab_Guest_Internet",
        "profileName": "Cisco",
        "serviceTemplate": false,
        "trackMovement": false
    }
}