{
    "AuthorizationProfile": {
        "accessType": "ACCESS_ACCEPT",
        "agentlessPosture": false,
        "authzProfileType": "SWITCH",
        "description": "Full corporate access",
        "easywiredSessionCandidate": false,
        "name": "Lab_Employee_Full",
        "profileName": "Cisco",
        "serviceTemplate": false,
        "trackMovement": false
    }
}