{
    "AuthorizationProfile": {
        "accessType": "ACCESS_ACCEPT",
        "agentlessPosture": false,
        "authzProfileType": "SWITCH",
        "daclName": "PERMIT_ALL_IPV4_TRAFFIC",
        "description": "Onboard the device with Native Supplicant Provisioning",
        "easywiredSessionCandidate": false,
        "name": "NSP_Onboard",
        "profileName": "Cisco",
        "serviceTemplate": false,
        "trackMovement": false,
        "webRedirection": {
            "WebRedirectionType": "NativeSupplicanProvisioning",
            "acl": "ACL_WEBAUTH_REDIRECT",
            "portalName": "BYOD Portal (default)"
        }
    }
}