{
    "AuthorizationProfile": {
        "accessType": "ACCESS_ACCEPT",
        "agentlessPosture": false,
        "authzProfileType": "SWITCH",
        "description": "Default Profile with access type as Access-Accept",
        "easywiredSessionCandidate": false,
        "name": "PermitAccess",
        "profileName": "Any",
        "serviceTemplate": false,
        "trackMovement": false
    }
}