{
    "AuthorizationProfile": {
        "accessType": "ACCESS_ACCEPT",
        "advancedAttributes": [
            {
                "leftHandSideDictionaryAttribue": {
                    "AdvancedAttributeValueType": "AdvancedDictionaryAttribute",
                    "attributeName": "cisco-av-pair",
                    "dictionaryName": "Cisco"
                },
                "rightHandSideAttribueValue": {
                    "AdvancedAttributeValueType": "AdvancedDictionaryAttribute",
                    "attributeName": "Private-group-id",
                    "dictionaryName": "UDN"
                }
            },
            {
                "leftHandSideDictionaryAttribue": {
                    "AdvancedAttributeValueType": "AdvancedDictionaryAttribute",
                    "attributeName": "cisco-av-pair",
                    "dictionaryName": "Cisco"
                },
                "rightHandSideAttribueValue": {
                    "AdvancedAttributeValueType": "AdvancedDictionaryAttribute",
                    "attributeName": "Private-group-name",
                    "dictionaryName": "UDN"
                }
            },
            {
                "leftHandSideDictionaryAttribue": {
                    "AdvancedAttributeValueType": "AdvancedDictionaryAttribute",
                    "attributeName": "cisco-av-pair",
                    "dictionaryName": "Cisco"
                },
                "rightHandSideAttribueValue": {
                    "AdvancedAttributeValueType": "AdvancedDictionaryAttribute",
                    "attributeName": "Private-group-owner",
                    "dictionaryName": "UDN"
                }
            }
        ],
        "agentlessPosture": false,
        "authzProfileType": "SWITCH",
        "description": "Default profile used for UDN.",
        "easywiredSessionCandidate": false,
        "name": "UDN",
        "profileName": "Cisco",
        "serviceTemplate": false,
        "trackMovement": false
    }
}