{
    "AuthorizationProfile": {
        "accessType": "ACCESS_ACCEPT",
        "agentlessPosture": false,
        "authzProfileType": "SWITCH",
        "description": "",
        "easywiredSessionCandidate": false,
        "name": "vet-seed-Employee-Full",
        "profileName": "Cisco",
        "serviceTemplate": false,
        "trackMovement": false
    }
}