{
    "ERSNSPProfile": {
        "description": "Pre-configured Native Supplicant Profile For Chrome OS",
        "name": "Cisco-ISE-Chrome-NSP",
        "wirelessProfiles": [
            {
                "allowedProtocol": "TLS",
                "certificateTemplateId": "0ca8f1b6-500d-560b-e053-75189a0ab0d1",
                "ssid": "ChromeDummySSID"
            }
        ]
    }
}