{
    "ERSNSPProfile": {
        "description": "Pre-configured Native Supplicant Profile. The SSID Will Need To Be Customized For Your Environment",
        "name": "Cisco-ISE-NSP",
        "wirelessProfiles": [
            {
                "allowedProtocol": "TLS",
                "certificateTemplateId": "0ca8f1b6-500d-560b-e053-75189a0ab0d1",
                "ssid": "ISE"
            }
        ]
    }
}