{
    "conditionType": "LibraryConditionAttributes",
    "name": "{{ site.slug }}_Auth_Passed",
    "description": "Authentication succeeded at {{ site.name }}. Site-owned equivalent of the built-in Network_Access_Authentication_Passed.",
    "dictionaryName": "Network Access",
    "attributeName": "AuthenticationStatus",
    "operator": "equals",
    "attributeValue": "AuthenticationPassed",
    "isNegate": false
}
