{
    "conditionType": "LibraryConditionAttributes",
    "name": "{{ site.slug }}_Corp_Endpoint",
    "description": "Endpoint is in the {{ site.name }} corporate identity group",
    "dictionaryName": "IdentityGroup",
    "attributeName": "Name",
    "operator": "equals",
    "attributeValue": "Endpoint Identity Groups:{{ site.slug }}_Corp_Devices",
    "isNegate": false
}
