{
    "children": [
        {
            "attributeName": "Service-Type",
            "attributeValue": "Outbound",
            "conditionType": "ConditionAttributes",
            "dictionaryName": "Radius",
            "dictionaryValue": null,
            "isNegate": false,
            "operator": "equals"
        },
        {
            "attributeName": "NAS-Port-Type",
            "attributeValue": "Ethernet",
            "conditionType": "ConditionAttributes",
            "dictionaryName": "Radius",
            "dictionaryValue": null,
            "isNegate": false,
            "operator": "equals"
        }
    ],
    "conditionType": "LibraryConditionAndBlock",
    "description": "Default condition used to match authentication requests for Local Web Authentication from Cisco Catalyst Switches",
    "isNegate": false,
    "name": "Catalyst_Switch_Local_Web_Authentication"
}