{
    "attributeName": "PostureStatus",
    "attributeValue": "Compliant",
    "conditionType": "LibraryConditionAttributes",
    "description": "Default condition for compliant devices",
    "dictionaryName": "Session",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "Compliant_Devices",
    "operator": "equals"
}