{
    "attributeName": "EapAuthentication",
    "attributeValue": "EAP-MSCHAPv2",
    "conditionType": "LibraryConditionAttributes",
    "description": "Default condition for BYOD Onboarding flow",
    "dictionaryName": "Network Access",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "EAP-MSCHAPv2",
    "operator": "equals"
}