{
    "attributeName": "EapAuthentication",
    "attributeValue": "EAP-TLS",
    "conditionType": "LibraryConditionAttributes",
    "description": "Default condition for BYOD flow for any device that has passed the NSP process",
    "dictionaryName": "Network Access",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "EAP-TLS",
    "operator": "equals"
}