{
    "attributeName": "UseCase",
    "attributeValue": "Guest Flow",
    "conditionType": "LibraryConditionAttributes",
    "description": "Default condition for guest flow",
    "dictionaryName": "Network Access",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "Guest_Flow",
    "operator": "equals"
}