{
    "attributeName": "ExternalGroups",
    "attributeValue": "lab.local/Users/ISE-Workstations",
    "conditionType": "LibraryConditionAttributes",
    "description": null,
    "dictionaryName": "lab.local",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "ISE_Workstations_Group",
    "operator": "equals"
}