{
    "attributeName": "AuthenticationStatus",
    "attributeValue": "AuthenticationPassed",
    "conditionType": "LibraryConditionAttributes",
    "description": "Default condition used for basic Network Access requiring that authentication was successful.",
    "dictionaryName": "Network Access",
    "dictionaryValue": null,
    "isNegate": false,
    "name": "Network_Access_Authentication_Passed",
    "operator": "equals"
}