{
    "ERSCertificateTemplate": {
        "description": "This template will be used when we generate a pxGrid certificate from the Certificate Provisioning Portal",
        "keySize": 2048,
        "name": "pxGrid_Certificate_Template",
        "raprofile": "ISE Internal CA",
        "validityPeriod": 730
    }
}